<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.cm.mapper.CmBlogMapper">

    <!-- 게시물 조회 조건 -->
    <sql id="cmBlogCond">
        <where>
            <if test="siteId != null and siteId != ''">AND b.site_id = #{siteId}</if>
            <if test="blogId != null and blogId != ''">AND b.blog_id = #{blogId}</if>
            <if test="blogCateId != null and blogCateId != ''">AND b.blog_cate_id = #{blogCateId}</if>
            <if test="prodId != null and prodId != ''">AND b.prod_id = #{prodId}</if>
            <if test="kw != null and kw != ''">
                AND (b.blog_title ILIKE '%' || #{kw} || '%'
                  OR b.blog_author ILIKE '%' || #{kw} || '%')
            </if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND b.reg_date &gt;= #{dateStart}::DATE
                AND b.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="cmBlogSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY b.blog_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY b.blog_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY b.blog_title ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY b.blog_title DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY b.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY b.reg_date DESC</when>
            <otherwise>ORDER BY b.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 게시물 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.cm.data.dto.CmBlogDto">
        SELECT  /* base.ec.cm :: CmBlog :: selectById */
              b.*
            , ste.site_nm AS site_nm
            , bct.blog_cate_nm AS blog_cate_nm
            , prd.prod_nm AS prod_nm
        FROM cm_blog b
            LEFT JOIN sy_site ste ON ste.site_id = b.site_id
            LEFT JOIN cm_blog_cate bct ON bct.blog_cate_id = b.blog_cate_id
            LEFT JOIN pd_prod prd ON prd.prod_id = b.prod_id
        WHERE b.blog_id = #{id}
    </select>

    <!-- 게시물 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.cm.data.dto.CmBlogDto">
        SELECT  /* base.ec.cm :: CmBlog :: selectList */
              b.*
            , ste.site_nm AS site_nm
            , bct.blog_cate_nm AS blog_cate_nm
            , prd.prod_nm AS prod_nm
        FROM cm_blog b
            LEFT JOIN sy_site ste ON ste.site_id = b.site_id
            LEFT JOIN cm_blog_cate bct ON bct.blog_cate_id = b.blog_cate_id
            LEFT JOIN pd_prod prd ON prd.prod_id = b.prod_id
            <include refid="cmBlogCond"/>
        <include refid="cmBlogSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 게시물 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.cm.data.dto.CmBlogDto">
        SELECT  /* base.ec.cm :: CmBlog :: selectPageList */
              b.*
            , ste.site_nm AS site_nm
            , bct.blog_cate_nm AS blog_cate_nm
            , prd.prod_nm AS prod_nm
        FROM cm_blog b
            LEFT JOIN sy_site ste ON ste.site_id = b.site_id
            LEFT JOIN cm_blog_cate bct ON bct.blog_cate_id = b.blog_cate_id
            LEFT JOIN pd_prod prd ON prd.prod_id = b.prod_id
            <include refid="cmBlogCond"/>
        <include refid="cmBlogSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 게시물 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(b.*)  /* base.ec.cm :: CmBlog :: selectPageCount */
        FROM cm_blog b
            <include refid="cmBlogCond"/>
    </select>

    <!-- 게시물 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.cm.data.entity.CmBlog">
        UPDATE cm_blog  /* base.ec.cm :: CmBlog :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="blogCateId != null">blog_cate_id = #{blogCateId},</if>
            <if test="blogTitle != null">blog_title = #{blogTitle},</if>
            <if test="blogSummary != null">blog_summary = #{blogSummary},</if>
            <if test="blogContent != null">blog_content = #{blogContent},</if>
            <if test="blogAuthor != null">blog_author = #{blogAuthor},</if>
            <if test="prodId != null">prod_id = #{prodId},</if>
            <if test="viewCount != null">view_count = #{viewCount},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="isNotice != null">is_notice = #{isNotice},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE blog_id = #{blogId}
    </update>

</mapper>
