<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.cm.mapper.CmhPushLogMapper">

    <!-- 푸시 발송 이력 조회 조건 -->
    <sql id="cmhPushLogCond">
        <where>
            <if test="siteId != null and siteId != ''">AND l.site_id = #{siteId}</if>
            <if test="logId != null and logId != ''">AND l.log_id = #{logId}</if>
            <if test="templateId != null and templateId != ''">AND l.template_id = #{templateId}</if>
            <if test="typeCd != null and typeCd != ''">AND l.ref_type_cd = #{typeCd}</if>
            <if test="kw != null and kw != ''">
                AND (l.push_log_title ILIKE '%' || #{kw} || '%')
            </if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND l.send_date &gt;= #{dateStart}::DATE
                AND l.send_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="cmhPushLogSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY l.log_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY l.log_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY l.push_log_title ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY l.push_log_title DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY l.send_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY l.send_date DESC</when>
            <otherwise>ORDER BY l.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 푸시 발송 이력 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.cm.data.dto.CmhPushLogDto">
        SELECT  /* base.ec.cm :: CmhPushLog :: selectById */
              l.*
            , tpl.template_nm AS template_nm
            , ste.site_nm AS site_nm
            , cd_pc.code_label AS channel_cd_nm
            , cd_pr.code_label AS result_cd_nm
        FROM cmh_push_log l
            LEFT JOIN sy_template tpl ON tpl.template_id = l.template_id
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN sy_code cd_pc ON cd_pc.code_grp = 'PUSH_CHANNEL' AND cd_pc.code_value = l.channel_cd
            LEFT JOIN sy_code cd_pr ON cd_pr.code_grp = 'PUSH_RESULT' AND cd_pr.code_value = l.result_cd
        WHERE l.log_id = #{id}
    </select>

    <!-- 푸시 발송 이력 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.cm.data.dto.CmhPushLogDto">
        SELECT  /* base.ec.cm :: CmhPushLog :: selectList */
              l.*
            , tpl.template_nm AS template_nm
            , ste.site_nm AS site_nm
            , cd_pc.code_label AS channel_cd_nm
            , cd_pr.code_label AS result_cd_nm
        FROM cmh_push_log l
            LEFT JOIN sy_template tpl ON tpl.template_id = l.template_id
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN sy_code cd_pc ON cd_pc.code_grp = 'PUSH_CHANNEL' AND cd_pc.code_value = l.channel_cd
            LEFT JOIN sy_code cd_pr ON cd_pr.code_grp = 'PUSH_RESULT' AND cd_pr.code_value = l.result_cd
            <include refid="cmhPushLogCond"/>
        <include refid="cmhPushLogSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 푸시 발송 이력 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.cm.data.dto.CmhPushLogDto">
        SELECT  /* base.ec.cm :: CmhPushLog :: selectPageList */
              l.*
            , tpl.template_nm AS template_nm
            , ste.site_nm AS site_nm
            , cd_pc.code_label AS channel_cd_nm
            , cd_pr.code_label AS result_cd_nm
        FROM cmh_push_log l
            LEFT JOIN sy_template tpl ON tpl.template_id = l.template_id
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN sy_code cd_pc ON cd_pc.code_grp = 'PUSH_CHANNEL' AND cd_pc.code_value = l.channel_cd
            LEFT JOIN sy_code cd_pr ON cd_pr.code_grp = 'PUSH_RESULT' AND cd_pr.code_value = l.result_cd
            <include refid="cmhPushLogCond"/>
        <include refid="cmhPushLogSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 푸시 발송 이력 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(l.*)  /* base.ec.cm :: CmhPushLog :: selectPageCount */
        FROM cmh_push_log l
            <include refid="cmhPushLogCond"/>
    </select>

</mapper>
