<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.zz.mapper.ZzExmy3Mapper">

    <sql id="searchWhere">
        <where>
            <if test="exmy1Ids != null and exmy1Ids.size() > 0">
                AND e.exmy1_id IN
                <foreach collection="exmy1Ids" item="id" open="(" separator="," close=")">#{id}</foreach>
            </if>
            <if test="exmy1Id != null and exmy1Id != ''">AND e.exmy1_id = #{exmy1Id}</if>
            <if test="exmy2Id != null and exmy2Id != ''">AND e.exmy2_id = #{exmy2Id}</if>
            <if test="exmy3Id != null and exmy3Id != ''">AND e.exmy3_id = #{exmy3Id}</if>
            <if test="exmy1IdLike != null and exmy1IdLike != ''">AND e.exmy1_id ILIKE '%'||#{exmy1IdLike}||'%'</if>
            <if test="exmy2IdLike != null and exmy2IdLike != ''">AND e.exmy2_id ILIKE '%'||#{exmy2IdLike}||'%'</if>
            <if test="exmy3IdLike != null and exmy3IdLike != ''">AND e.exmy3_id ILIKE '%'||#{exmy3IdLike}||'%'</if>
            <if test="col31 != null and col31 != ''">AND e.col31 ILIKE '%'||#{col31}||'%'</if>
            <if test="col32 != null and col32 != ''">AND e.col32 ILIKE '%'||#{col32}||'%'</if>
            <if test="col33 != null and col33 != ''">AND e.col33 ILIKE '%'||#{col33}||'%'</if>
            <if test="col34 != null and col34 != ''">AND e.col34 ILIKE '%'||#{col34}||'%'</if>
            <if test="col35 != null and col35 != ''">AND e.col35 ILIKE '%'||#{col35}||'%'</if>
            <if test="searchValue != null and searchValue != ''">
                AND (e.exmy1_id ILIKE '%'||#{searchValue}||'%'
                  OR e.exmy2_id ILIKE '%'||#{searchValue}||'%'
                  OR e.exmy3_id ILIKE '%'||#{searchValue}||'%'
                  OR e.col31 ILIKE '%'||#{searchValue}||'%'
                  OR e.col32 ILIKE '%'||#{searchValue}||'%'
                  OR e.col33 ILIKE '%'||#{searchValue}||'%'
                  OR e.col34 ILIKE '%'||#{searchValue}||'%'
                  OR e.col35 ILIKE '%'||#{searchValue}||'%')
            </if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.zz.data.dto.ZzExmy3Dto$Item">
        SELECT /* base.zz :: ZzExmy3 :: selectById */
            e.exmy1_id, e.exmy2_id, e.exmy3_id,
            e.col31, e.col32, e.col33, e.col34, e.col35,
            e.reg_by, e.reg_date, e.upd_by, e.upd_date
        FROM shopjoy_2604.zz_exmy3 e
        WHERE e.exmy1_id = #{exmy1Id} AND e.exmy2_id = #{exmy2Id} AND e.exmy3_id = #{exmy3Id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.zz.data.dto.ZzExmy3Dto$Item">
        SELECT /* base.zz :: ZzExmy3 :: selectList */
            e.exmy1_id, e.exmy2_id, e.exmy3_id,
            e.col31, e.col32, e.col33, e.col34, e.col35,
            e.reg_by, e.reg_date, e.upd_by, e.upd_date
        FROM shopjoy_2604.zz_exmy3 e
        <include refid="searchWhere"/>
        ORDER BY e.exmy1_id ASC, e.exmy2_id ASC, e.exmy3_id ASC
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.zz.data.dto.ZzExmy3Dto$Item">
        SELECT /* base.zz :: ZzExmy3 :: selectPageList */
            e.exmy1_id, e.exmy2_id, e.exmy3_id,
            e.col31, e.col32, e.col33, e.col34, e.col35,
            e.reg_by, e.reg_date, e.upd_by, e.upd_date
        FROM shopjoy_2604.zz_exmy3 e
        <include refid="searchWhere"/>
        ORDER BY e.exmy1_id ASC, e.exmy2_id ASC, e.exmy3_id ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(e.*) /* base.zz :: ZzExmy3 :: selectPageCount */
        FROM shopjoy_2604.zz_exmy3 e
        <include refid="searchWhere"/>
    </select>

    <insert id="insert">
        INSERT INTO shopjoy_2604.zz_exmy3 /* base.zz :: ZzExmy3 :: insert */
            (exmy1_id, exmy2_id, exmy3_id, col31, col32, col33, col34, col35,
             reg_by, reg_date, upd_by, upd_date)
        VALUES
            (#{exmy1Id}, #{exmy2Id}, #{exmy3Id}, #{col31}, #{col32}, #{col33}, #{col34}, #{col35},
             #{regBy}, #{regDate}, #{updBy}, #{updDate})
    </insert>

    <update id="update">
        UPDATE shopjoy_2604.zz_exmy3 /* base.zz :: ZzExmy3 :: update */
        SET col31 = #{col31}, col32 = #{col32}, col33 = #{col33},
            col34 = #{col34}, col35 = #{col35},
            upd_by = #{updBy}, upd_date = #{updDate}
        WHERE exmy1_id = #{exmy1Id} AND exmy2_id = #{exmy2Id} AND exmy3_id = #{exmy3Id}
    </update>

    <update id="updateSelective">
        UPDATE shopjoy_2604.zz_exmy3 /* base.zz :: ZzExmy3 :: updateSelective */
        <set>
            <if test="col31 != null">col31 = #{col31},</if>
            <if test="col32 != null">col32 = #{col32},</if>
            <if test="col33 != null">col33 = #{col33},</if>
            <if test="col34 != null">col34 = #{col34},</if>
            <if test="col35 != null">col35 = #{col35},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE exmy1_id = #{exmy1Id} AND exmy2_id = #{exmy2Id} AND exmy3_id = #{exmy3Id}
    </update>

    <delete id="delete">
        DELETE FROM shopjoy_2604.zz_exmy3 /* base.zz :: ZzExmy3 :: delete */
        WHERE exmy1_id = #{exmy1Id} AND exmy2_id = #{exmy2Id} AND exmy3_id = #{exmy3Id}
    </delete>

</mapper>
