<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.mapper.sy.SyCodeGrpMapper">

    <sql id="syCodeGrpCond">
        <where>
            <if test="p.siteId != null and p.siteId != ''">AND g.site_id = #{p.siteId}</if>
            <if test="p.kw != null and p.kw != ''">
                AND (g.grp_nm ILIKE '%' || #{p.kw} || '%')
            </if>
            <if test="p.dateStart != null and p.dateStart != ''">AND g.reg_date &gt;= #{p.dateStart}::DATE</if>
            <if test="p.dateEnd   != null and p.dateEnd   != ''">AND g.reg_date &lt;  (#{p.dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.domain.sy.dto.SyCodeGrpDto">
        SELECT
            g.*,
            ste.site_nm AS site_nm
        FROM sy_code_grp g
            LEFT JOIN sy_site ste ON ste.site_id = g.site_id
        WHERE g.code_grp_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.domain.sy.dto.SyCodeGrpDto">
        SELECT
            g.*,
            ste.site_nm AS site_nm
        FROM sy_code_grp g
            LEFT JOIN sy_site ste ON ste.site_id = g.site_id
            <include refid="syCodeGrpCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY g.code_grp_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY g.code_grp_id DESC</when>
            <when test="p.sort == 'nm_asc'">ORDER BY g.grp_nm ASC</when>
            <when test="p.sort == 'nm_desc'">ORDER BY g.grp_nm DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY g.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY g.reg_date DESC</when>
            <otherwise>ORDER BY g.reg_date DESC</otherwise>
        </choose>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.domain.sy.dto.SyCodeGrpDto">
        SELECT
            g.*,
            ste.site_nm AS site_nm
        FROM sy_code_grp g
            LEFT JOIN sy_site ste ON ste.site_id = g.site_id
            <include refid="syCodeGrpCond"/>
        <choose>
            <when test="p.sort == 'id_asc'">ORDER BY g.code_grp_id ASC</when>
            <when test="p.sort == 'id_desc'">ORDER BY g.code_grp_id DESC</when>
            <when test="p.sort == 'nm_asc'">ORDER BY g.grp_nm ASC</when>
            <when test="p.sort == 'nm_desc'">ORDER BY g.grp_nm DESC</when>
            <when test="p.sort == 'reg_asc'">ORDER BY g.reg_date ASC</when>
            <when test="p.sort == 'reg_desc'">ORDER BY g.reg_date DESC</when>
            <otherwise>ORDER BY g.reg_date DESC</otherwise>
        </choose>
        LIMIT #{p.limit} OFFSET #{p.offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)
        FROM sy_code_grp g
            <include refid="syCodeGrpCond"/>
    </select>

    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.domain.sy.entity.SyCodeGrp">
        UPDATE sy_code_grp
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="codeGrp != null">code_grp = #{codeGrp},</if>
            <if test="grpNm != null">grp_nm = #{grpNm},</if>
            <if test="dispPath != null">disp_path = #{dispPath},</if>
            <if test="codeGrpDesc != null">code_grp_desc = #{codeGrpDesc},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE code_grp_id = #{codeGrpId}
    </update>

</mapper>
