<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.mb.mapper.MbhMemberLoginLogMapper">

    <!-- 회원 로그인 로그 조회 조건 -->
    <sql id="mbhMemberLoginLogCond">
        <where>
            <if test="siteId != null and siteId != ''">AND l.site_id = #{siteId}</if>
            <if test="dateStart != null and dateStart != ''">AND l.reg_date &gt;= #{dateStart}::DATE</if>
            <if test="dateEnd   != null and dateEnd   != ''">AND l.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <!-- 회원 로그인 로그 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.mb.data.dto.MbhMemberLoginLogDto">
        SELECT  /* base.ec.mb :: MbhMemberLoginLog :: selectById */
              l.*
            , ste.site_nm AS site_nm
            , mem.member_nm AS member_nm
            , cd_lr.code_label AS result_cd_nm
        FROM mbh_member_login_log l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN mb_member mem ON mem.member_id = l.member_id
            LEFT JOIN sy_code cd_lr ON cd_lr.code_grp = 'LOGIN_RESULT' AND cd_lr.code_value = l.result_cd
        WHERE l.log_id = #{id}
    </select>

    <!-- 회원 로그인 로그 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.mb.data.dto.MbhMemberLoginLogDto">
        SELECT  /* base.ec.mb :: MbhMemberLoginLog :: selectList */
              l.*
            , ste.site_nm AS site_nm
            , mem.member_nm AS member_nm
            , cd_lr.code_label AS result_cd_nm
        FROM mbh_member_login_log l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN mb_member mem ON mem.member_id = l.member_id
            LEFT JOIN sy_code cd_lr ON cd_lr.code_grp = 'LOGIN_RESULT' AND cd_lr.code_value = l.result_cd
            <include refid="mbhMemberLoginLogCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY l.log_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY l.log_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY l.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY l.reg_date DESC</when>
            <otherwise>ORDER BY l.reg_date DESC</otherwise>
        </choose>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 회원 로그인 로그 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.mb.data.dto.MbhMemberLoginLogDto">
        SELECT  /* base.ec.mb :: MbhMemberLoginLog :: selectPageList */
              l.*
            , ste.site_nm AS site_nm
            , mem.member_nm AS member_nm
            , cd_lr.code_label AS result_cd_nm
        FROM mbh_member_login_log l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN mb_member mem ON mem.member_id = l.member_id
            LEFT JOIN sy_code cd_lr ON cd_lr.code_grp = 'LOGIN_RESULT' AND cd_lr.code_value = l.result_cd
            <include refid="mbhMemberLoginLogCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY l.log_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY l.log_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY l.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY l.reg_date DESC</when>
            <otherwise>ORDER BY l.reg_date DESC</otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 회원 로그인 로그 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)  /* base.ec.mb :: MbhMemberLoginLog :: selectPageCount */
        FROM mbh_member_login_log l
            <include refid="mbhMemberLoginLogCond"/>
    </select>

</mapper>
