<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.mb.mapper.MbLikeMapper">

    <!-- 좋아요(찜) 조회 조건 -->
    <sql id="mbLikeCond">
        <where>
            <if test="siteId != null and siteId != ''">AND l.site_id = #{siteId}</if>
            <if test="likeId != null and likeId != ''">AND l.like_id = #{likeId}</if>
            <if test="memberId != null and memberId != ''">AND l.member_id = #{memberId}</if>
            <if test="targetId != null and targetId != ''">AND l.target_id = #{targetId}</if>
            <if test="typeCd != null and typeCd != ''">AND l.target_type_cd = #{typeCd}</if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND l.reg_date &gt;= #{dateStart}::DATE
                AND l.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="mbLikeSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY l.like_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY l.like_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY l.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY l.reg_date DESC</when>
            <otherwise>ORDER BY l.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 좋아요(찜) 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.mb.data.dto.MbLikeDto">
        SELECT  /* base.ec.mb :: MbLike :: selectById */
              l.*
            , ste.site_nm AS site_nm
            , mem.member_nm AS member_nm
            , prd.prod_nm AS target_nm
            , cd_ltt.code_label AS target_type_cd_nm
        FROM mb_like l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN mb_member mem ON mem.member_id = l.member_id
            LEFT JOIN pd_prod prd ON prd.prod_id = l.target_id
            LEFT JOIN sy_code cd_ltt ON cd_ltt.code_grp = 'LIKE_TARGET_TYPE' AND cd_ltt.code_value = l.target_type_cd
        WHERE l.like_id = #{id}
    </select>

    <!-- 좋아요(찜) 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.mb.data.dto.MbLikeDto">
        SELECT  /* base.ec.mb :: MbLike :: selectList */
              l.*
            , ste.site_nm AS site_nm
            , mem.member_nm AS member_nm
            , prd.prod_nm AS target_nm
            , cd_ltt.code_label AS target_type_cd_nm
        FROM mb_like l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN mb_member mem ON mem.member_id = l.member_id
            LEFT JOIN pd_prod prd ON prd.prod_id = l.target_id
            LEFT JOIN sy_code cd_ltt ON cd_ltt.code_grp = 'LIKE_TARGET_TYPE' AND cd_ltt.code_value = l.target_type_cd
            <include refid="mbLikeCond"/>
        <include refid="mbLikeSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 좋아요(찜) 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.mb.data.dto.MbLikeDto">
        SELECT  /* base.ec.mb :: MbLike :: selectPageList */
              l.*
            , ste.site_nm AS site_nm
            , mem.member_nm AS member_nm
            , prd.prod_nm AS target_nm
            , cd_ltt.code_label AS target_type_cd_nm
        FROM mb_like l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN mb_member mem ON mem.member_id = l.member_id
            LEFT JOIN pd_prod prd ON prd.prod_id = l.target_id
            LEFT JOIN sy_code cd_ltt ON cd_ltt.code_grp = 'LIKE_TARGET_TYPE' AND cd_ltt.code_value = l.target_type_cd
            <include refid="mbLikeCond"/>
        <include refid="mbLikeSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 좋아요(찜) 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(l.*)  /* base.ec.mb :: MbLike :: selectPageCount */
        FROM mb_like l
            <include refid="mbLikeCond"/>
    </select>

    <!-- 좋아요(찜) 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.mb.data.entity.MbLike">
        UPDATE mb_like  /* base.ec.mb :: MbLike :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="targetTypeCd != null">target_type_cd = #{targetTypeCd},</if>
            <if test="targetId != null">target_id = #{targetId},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE like_id = #{likeId}
    </update>

</mapper>
