<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.mb.mapper.MbMemberSnsMapper">

    <!-- SNS 연동 회원 조회 조건 -->
    <sql id="mbMemberSnsCond">
        <where>
                        <if test="memberSnsId != null and memberSnsId != ''">AND m.member_sns_id = #{memberSnsId}</if>
<if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
    AND m.reg_date &gt;= #{dateStart}::DATE</if>
            <if test="memberId != null and memberId != ''">AND m.member_id = #{memberId}
    AND m.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
</if>
        </where>
    </sql>

    <!-- ?뺣젹 議곌굔 -->
    <sql id="mbMemberSnsSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY m.member_sns_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY m.member_sns_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY m.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY m.reg_date DESC</when>
            <otherwise>ORDER BY m.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- SNS 연동 회원 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.mb.data.dto.MbMemberSnsDto">
        SELECT  /* base.ec.mb :: MbMemberSns :: selectById */
              m.*
            , mem.member_nm AS member_nm
            , cd_sc.code_label AS sns_channel_cd_nm
        FROM mb_member_sns m
            LEFT JOIN mb_member mem ON mem.member_id = m.member_id
            LEFT JOIN sy_code cd_sc ON cd_sc.code_grp = 'SNS_CHANNEL' AND cd_sc.code_value = m.sns_channel_cd
        WHERE m.member_sns_id = #{id}
    </select>

    <!-- SNS 연동 회원 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.mb.data.dto.MbMemberSnsDto">
        SELECT  /* base.ec.mb :: MbMemberSns :: selectList */
              m.*
            , mem.member_nm AS member_nm
            , cd_sc.code_label AS sns_channel_cd_nm
        FROM mb_member_sns m
            LEFT JOIN mb_member mem ON mem.member_id = m.member_id
            LEFT JOIN sy_code cd_sc ON cd_sc.code_grp = 'SNS_CHANNEL' AND cd_sc.code_value = m.sns_channel_cd
            <include refid="mbMemberSnsCond"/>
        <include refid="mbMemberSnsSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- SNS 연동 회원 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.mb.data.dto.MbMemberSnsDto">
        SELECT  /* base.ec.mb :: MbMemberSns :: selectPageList */
              m.*
            , mem.member_nm AS member_nm
            , cd_sc.code_label AS sns_channel_cd_nm
        FROM mb_member_sns m
            LEFT JOIN mb_member mem ON mem.member_id = m.member_id
            LEFT JOIN sy_code cd_sc ON cd_sc.code_grp = 'SNS_CHANNEL' AND cd_sc.code_value = m.sns_channel_cd
            <include refid="mbMemberSnsCond"/>
        <include refid="mbMemberSnsSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- SNS 연동 회원 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(m.*)  /* base.ec.mb :: MbMemberSns :: selectPageCount */
        FROM mb_member_sns m
            <include refid="mbMemberSnsCond"/>
    </select>

    <!-- SNS 연동 회원 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.mb.data.entity.MbMemberSns">
        UPDATE mb_member_sns  /* base.ec.mb :: MbMemberSns :: updateSelective */
        <set>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="snsChannelCd != null">sns_channel_cd = #{snsChannelCd},</if>
            <if test="snsUserId != null">sns_user_id = #{snsUserId},</if>
        </set>
        WHERE member_sns_id = #{memberSnsId}
    </update>

</mapper>
