<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.od.mapper.OdCartMapper">

    <!-- 장바구니 조회 조건 -->
    <sql id="odCartCond">
        <where>
            <if test="siteId   != null and siteId   != ''">AND c.site_id   = #{siteId}</if>
            <if test="memberId != null and memberId != ''">AND c.member_id = #{memberId}</if>
            <if test="kw       != null and kw       != ''">AND (mem.member_nm LIKE '%'||#{kw}||'%' OR c.member_id LIKE '%'||#{kw}||'%' OR c.prod_id LIKE '%'||#{kw}||'%' OR prd.prod_nm LIKE '%'||#{kw}||'%')</if>
            <if test="dateStart != null and dateStart != ''">AND c.reg_date &gt;= #{dateStart}::DATE</if>
            <if test="dateEnd   != null and dateEnd   != ''">AND c.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <!-- 장바구니 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdCartDto">
        SELECT  /* base.ec.od :: OdCart :: selectById */
              c.*
            , ste.site_nm   AS site_nm
            , mem.member_nm AS member_nm
            , prd.prod_nm   AS prod_nm
            , oi1.opt_nm    AS opt_nm1
            , oi2.opt_nm    AS opt_nm2
        FROM od_cart c
            LEFT JOIN sy_site ste        ON ste.site_id     = c.site_id
            LEFT JOIN mb_member mem      ON mem.member_id   = c.member_id
            LEFT JOIN pd_prod prd        ON prd.prod_id     = c.prod_id
            LEFT JOIN pd_prod_opt_item oi1 ON oi1.opt_item_id = c.opt_item_id_1
            LEFT JOIN pd_prod_opt_item oi2 ON oi2.opt_item_id = c.opt_item_id_2
        WHERE c.cart_id = #{id}
    </select>

    <!-- 장바구니 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdCartDto">
        SELECT  /* base.ec.od :: OdCart :: selectList */
              c.*
            , ste.site_nm   AS site_nm
            , mem.member_nm AS member_nm
            , prd.prod_nm   AS prod_nm
            , oi1.opt_nm    AS opt_nm1
            , oi2.opt_nm    AS opt_nm2
        FROM od_cart c
            LEFT JOIN sy_site ste        ON ste.site_id     = c.site_id
            LEFT JOIN mb_member mem      ON mem.member_id   = c.member_id
            LEFT JOIN pd_prod prd        ON prd.prod_id     = c.prod_id
            LEFT JOIN pd_prod_opt_item oi1 ON oi1.opt_item_id = c.opt_item_id_1
            LEFT JOIN pd_prod_opt_item oi2 ON oi2.opt_item_id = c.opt_item_id_2
            <include refid="odCartCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY c.cart_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY c.cart_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY c.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY c.reg_date DESC</when>
            <otherwise>ORDER BY c.reg_date DESC</otherwise>
        </choose>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 장바구니 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdCartDto">
        SELECT  /* base.ec.od :: OdCart :: selectPageList */
              c.*
            , ste.site_nm   AS site_nm
            , mem.member_nm AS member_nm
            , prd.prod_nm   AS prod_nm
            , oi1.opt_nm    AS opt_nm1
            , oi2.opt_nm    AS opt_nm2
        FROM od_cart c
            LEFT JOIN sy_site ste        ON ste.site_id     = c.site_id
            LEFT JOIN mb_member mem      ON mem.member_id   = c.member_id
            LEFT JOIN pd_prod prd        ON prd.prod_id     = c.prod_id
            LEFT JOIN pd_prod_opt_item oi1 ON oi1.opt_item_id = c.opt_item_id_1
            LEFT JOIN pd_prod_opt_item oi2 ON oi2.opt_item_id = c.opt_item_id_2
            <include refid="odCartCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY c.cart_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY c.cart_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY c.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY c.reg_date DESC</when>
            <otherwise>ORDER BY c.reg_date DESC</otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 장바구니 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(c.*)  /* base.ec.od :: OdCart :: selectPageCount */
        FROM od_cart c
            LEFT JOIN mb_member mem ON mem.member_id = c.member_id
            LEFT JOIN pd_prod prd ON prd.prod_id = c.prod_id
            <include refid="odCartCond"/>
    </select>

    <!-- 장바구니 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.od.data.entity.OdCart">
        UPDATE od_cart  /* base.ec.od :: OdCart :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="sessionKey != null">session_key = #{sessionKey},</if>
            <if test="prodId != null">prod_id = #{prodId},</if>
            <if test="skuId != null">sku_id = #{skuId},</if>
            <if test="optItemId1 != null">opt_item_id_1 = #{optItemId1},</if>
            <if test="optItemId2 != null">opt_item_id_2 = #{optItemId2},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="orderQty != null">order_qty = #{orderQty},</if>
            <if test="itemPrice != null">item_price = #{itemPrice},</if>
            <if test="isChecked != null">is_checked = #{isChecked},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE cart_id = #{cartId}
    </update>

</mapper>
