<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.od.mapper.OdDlivItemMapper">

    <!-- 배송 아이템 조회 조건 -->
    <sql id="odDlivItemCond">
        <where>
            <if test="siteId != null and siteId != ''">AND i.site_id = #{siteId}</if>
            <if test="dlivItemId != null and dlivItemId != ''">AND i.dliv_item_id = #{dlivItemId}</if>
            <if test="status != null and status != ''">AND i.dliv_item_status_cd = #{status}</if>
            <if test="typeCd != null and typeCd != ''">AND i.dliv_type_cd = #{typeCd}</if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' and dateType != null and dateType != ''">
                <choose>
                    <when test="dateType == 'reg_date'">
                        AND i.reg_date &gt;= #{dateStart}::DATE
                        AND i.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                    <when test="dateType == 'upd_date'">
                        AND i.upd_date &gt;= #{dateStart}::DATE
                        AND i.upd_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="odDlivItemSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY i.dliv_item_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY i.dliv_item_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY i.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY i.reg_date DESC</when>
            <otherwise>ORDER BY i.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 배송 아이템 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdDlivItemDto$Item">
        SELECT  /* base.ec.od :: OdDlivItem :: selectById */
              i.*
            , ste.site_nm AS site_nm
            , cd_ds.code_label AS dliv_item_status_cd_nm
        FROM od_dliv_item i
            LEFT JOIN sy_site ste ON ste.site_id = i.site_id
            LEFT JOIN sy_code cd_ds ON cd_ds.code_grp = 'DLIV_STATUS' AND cd_ds.code_value = i.dliv_item_status_cd
        WHERE i.dliv_item_id = #{id}
    </select>

    <!-- 배송 아이템 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdDlivItemDto$Item">
        SELECT  /* base.ec.od :: OdDlivItem :: selectList */
              i.*
            , ste.site_nm AS site_nm
            , cd_ds.code_label AS dliv_item_status_cd_nm
        FROM od_dliv_item i
            LEFT JOIN sy_site ste ON ste.site_id = i.site_id
            LEFT JOIN sy_code cd_ds ON cd_ds.code_grp = 'DLIV_STATUS' AND cd_ds.code_value = i.dliv_item_status_cd
            <include refid="odDlivItemCond"/>
        <include refid="odDlivItemSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 배송 아이템 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdDlivItemDto$Item">
        SELECT  /* base.ec.od :: OdDlivItem :: selectPageList */
              i.*
            , ste.site_nm AS site_nm
            , cd_ds.code_label AS dliv_item_status_cd_nm
        FROM od_dliv_item i
            LEFT JOIN sy_site ste ON ste.site_id = i.site_id
            LEFT JOIN sy_code cd_ds ON cd_ds.code_grp = 'DLIV_STATUS' AND cd_ds.code_value = i.dliv_item_status_cd
            <include refid="odDlivItemCond"/>
        <include refid="odDlivItemSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 배송 아이템 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(i.*)  /* base.ec.od :: OdDlivItem :: selectPageCount */
        FROM od_dliv_item i
            <include refid="odDlivItemCond"/>
    </select>

    <!-- 배송 아이템 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.od.data.entity.OdDlivItem">
        UPDATE od_dliv_item  /* base.ec.od :: OdDlivItem :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="dlivId != null">dliv_id = #{dlivId},</if>
            <if test="orderItemId != null">order_item_id = #{orderItemId},</if>
            <if test="prodId != null">prod_id = #{prodId},</if>
            <if test="optItemId1 != null">opt_item_id_1 = #{optItemId1},</if>
            <if test="optItemId2 != null">opt_item_id_2 = #{optItemId2},</if>
            <if test="dlivTypeCd != null">dliv_type_cd = #{dlivTypeCd},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="dlivQty != null">dliv_qty = #{dlivQty},</if>
            <if test="dlivItemStatusCd != null">dliv_item_status_cd = #{dlivItemStatusCd},</if>
            <if test="dlivItemStatusCdBefore != null">dliv_item_status_cd_before = #{dlivItemStatusCdBefore},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE dliv_item_id = #{dlivItemId}
    </update>

</mapper>
