<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.od.mapper.OdhDlivStatusHistMapper">

    <sql id="odhDlivStatusHistCond">
        <where>
            <if test="siteId != null and siteId != ''">AND h.site_id = #{siteId}</if>
            <if test="dlivStatusHistId != null and dlivStatusHistId != ''">AND h.dliv_status_hist_id = #{dlivStatusHistId}</if>
            <if test="dlivId != null and dlivId != ''">AND h.dliv_id = #{dlivId}</if>
            <if test="chgUserId != null and chgUserId != ''">AND h.chg_user_id = #{chgUserId}</if>
            <if test="orderId != null and orderId != ''">AND h.order_id = #{orderId}</if>
            <if test="status != null and status != ''">AND h.dliv_status_cd = #{status}</if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND h.reg_date &gt;= #{dateStart}::DATE
                AND h.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="odhDlivStatusHistSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY h.dliv_status_hist_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY h.dliv_status_hist_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY h.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY h.reg_date DESC</when>
            <otherwise>ORDER BY h.reg_date DESC</otherwise>
        </choose>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdhDlivStatusHistDto$Item">
        SELECT  /* base.ec.od :: OdhDlivStatusHist :: selectById */
              h.*
            , ste.site_nm AS site_nm
            , dli.member_nm AS dliv_nm
            , ord.member_nm AS order_nm
            , usr.user_nm AS chg_user_nm
            , cd_ds.code_label AS dliv_status_cd_nm
        FROM odh_dliv_status_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN od_dliv dli ON dli.dliv_id = h.dliv_id
            LEFT JOIN od_order ord ON ord.order_id = h.order_id
            LEFT JOIN sy_user usr ON usr.user_id = h.chg_user_id
            LEFT JOIN sy_code cd_ds ON cd_ds.code_grp = 'DLIV_STATUS' AND cd_ds.code_value = h.dliv_status_cd
        WHERE h.dliv_status_hist_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdhDlivStatusHistDto$Item">
        SELECT  /* base.ec.od :: OdhDlivStatusHist :: selectList */
              h.*
            , ste.site_nm AS site_nm
            , dli.member_nm AS dliv_nm
            , ord.member_nm AS order_nm
            , usr.user_nm AS chg_user_nm
            , cd_ds.code_label AS dliv_status_cd_nm
        FROM odh_dliv_status_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN od_dliv dli ON dli.dliv_id = h.dliv_id
            LEFT JOIN od_order ord ON ord.order_id = h.order_id
            LEFT JOIN sy_user usr ON usr.user_id = h.chg_user_id
            LEFT JOIN sy_code cd_ds ON cd_ds.code_grp = 'DLIV_STATUS' AND cd_ds.code_value = h.dliv_status_cd
            <include refid="odhDlivStatusHistCond"/>
        <include refid="odhDlivStatusHistSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdhDlivStatusHistDto$Item">
        SELECT  /* base.ec.od :: OdhDlivStatusHist :: selectPageList */
              h.*
            , ste.site_nm AS site_nm
            , dli.member_nm AS dliv_nm
            , ord.member_nm AS order_nm
            , usr.user_nm AS chg_user_nm
            , cd_ds.code_label AS dliv_status_cd_nm
        FROM odh_dliv_status_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN od_dliv dli ON dli.dliv_id = h.dliv_id
            LEFT JOIN od_order ord ON ord.order_id = h.order_id
            LEFT JOIN sy_user usr ON usr.user_id = h.chg_user_id
            LEFT JOIN sy_code cd_ds ON cd_ds.code_grp = 'DLIV_STATUS' AND cd_ds.code_value = h.dliv_status_cd
            <include refid="odhDlivStatusHistCond"/>
        <include refid="odhDlivStatusHistSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(h.*)  /* base.ec.od :: OdhDlivStatusHist :: selectPageCount */
        FROM odh_dliv_status_hist h
            <include refid="odhDlivStatusHistCond"/>
    </select>

</mapper>
