<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.od.mapper.OdhOrderItemChgHistMapper">

    <sql id="odhOrderItemChgHistCond">
        <where>
            <if test="siteId != null and siteId != ''">AND h.site_id = #{siteId}</if>
            <if test="orderItemChgHistId != null and orderItemChgHistId != ''">AND h.order_item_chg_hist_id = #{orderItemChgHistId}</if>
            <if test="chgUserId != null and chgUserId != ''">AND h.chg_user_id = #{chgUserId}</if>
            <if test="typeCd != null and typeCd != ''">AND h.chg_type_cd = #{typeCd}</if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND h.reg_date &gt;= #{dateStart}::DATE
                AND h.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
        </where>
    </sql>

    <!-- ?뺣젹 議곌굔 -->
    <sql id="odhOrderItemChgHistSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY h.order_item_chg_hist_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY h.order_item_chg_hist_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY h.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY h.reg_date DESC</when>
            <otherwise>ORDER BY h.reg_date DESC</otherwise>
        </choose>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdhOrderItemChgHistDto">
        SELECT  /* base.ec.od :: OdhOrderItemChgHist :: selectById */
              h.*
            , ste.site_nm AS site_nm
            , usr.user_nm AS chg_user_nm
        FROM odh_order_item_chg_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN sy_user usr ON usr.user_id = h.chg_user_id
        WHERE h.order_item_chg_hist_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdhOrderItemChgHistDto">
        SELECT  /* base.ec.od :: OdhOrderItemChgHist :: selectList */
              h.*
            , ste.site_nm AS site_nm
            , usr.user_nm AS chg_user_nm
        FROM odh_order_item_chg_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN sy_user usr ON usr.user_id = h.chg_user_id
            <include refid="odhOrderItemChgHistCond"/>
        <include refid="odhOrderItemChgHistSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdhOrderItemChgHistDto">
        SELECT  /* base.ec.od :: OdhOrderItemChgHist :: selectPageList */
              h.*
            , ste.site_nm AS site_nm
            , usr.user_nm AS chg_user_nm
        FROM odh_order_item_chg_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN sy_user usr ON usr.user_id = h.chg_user_id
            <include refid="odhOrderItemChgHistCond"/>
        <include refid="odhOrderItemChgHistSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(h.*)  /* base.ec.od :: OdhOrderItemChgHist :: selectPageCount */
        FROM odh_order_item_chg_hist h
            <include refid="odhOrderItemChgHistCond"/>
    </select>

</mapper>
