<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.od.mapper.OdhOrderItemStatusHistMapper">

    <sql id="odhOrderItemStatusHistCond">
        <where>
            <if test="siteId != null and siteId != ''">AND h.site_id = #{siteId}</if>
            <if test="orderItemStatusHistId != null and orderItemStatusHistId != ''">AND h.order_item_status_hist_id = #{orderItemStatusHistId}</if>
            <if test="orderId != null and orderId != ''">AND h.order_id = #{orderId}</if>
            <if test="chgUserId != null and chgUserId != ''">AND h.chg_user_id = #{chgUserId}</if>
            <if test="orderItemId != null and orderItemId != ''">AND h.order_item_id = #{orderItemId}</if>
            <if test="status != null and status != ''">AND h.order_item_status_cd = #{status}</if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND h.reg_date &gt;= #{dateStart}::DATE
                AND h.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
        </where>
    </sql>

    <!-- ?뺣젹 議곌굔 -->
    <sql id="odhOrderItemStatusHistSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY h.order_item_status_hist_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY h.order_item_status_hist_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY h.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY h.reg_date DESC</when>
            <otherwise>ORDER BY h.reg_date DESC</otherwise>
        </choose>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdhOrderItemStatusHistDto">
        SELECT  /* base.ec.od :: OdhOrderItemStatusHist :: selectById */
              h.*
            , ste.site_nm AS site_nm
            , ite.prod_nm AS order_item_nm
            , ord.member_nm AS order_nm
            , usr.user_nm AS chg_user_nm
            , cd_ois.code_label AS order_item_status_cd_nm
        FROM odh_order_item_status_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN od_order_item ite ON ite.order_item_id = h.order_item_id
            LEFT JOIN od_order ord ON ord.order_id = h.order_id
            LEFT JOIN sy_user usr ON usr.user_id = h.chg_user_id
            LEFT JOIN sy_code cd_ois ON cd_ois.code_grp = 'ORDER_ITEM_STATUS' AND cd_ois.code_value = h.order_item_status_cd
        WHERE h.order_item_status_hist_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdhOrderItemStatusHistDto">
        SELECT  /* base.ec.od :: OdhOrderItemStatusHist :: selectList */
              h.*
            , ste.site_nm AS site_nm
            , ite.prod_nm AS order_item_nm
            , ord.member_nm AS order_nm
            , usr.user_nm AS chg_user_nm
            , cd_ois.code_label AS order_item_status_cd_nm
        FROM odh_order_item_status_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN od_order_item ite ON ite.order_item_id = h.order_item_id
            LEFT JOIN od_order ord ON ord.order_id = h.order_id
            LEFT JOIN sy_user usr ON usr.user_id = h.chg_user_id
            LEFT JOIN sy_code cd_ois ON cd_ois.code_grp = 'ORDER_ITEM_STATUS' AND cd_ois.code_value = h.order_item_status_cd
            <include refid="odhOrderItemStatusHistCond"/>
        <include refid="odhOrderItemStatusHistSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdhOrderItemStatusHistDto">
        SELECT  /* base.ec.od :: OdhOrderItemStatusHist :: selectPageList */
              h.*
            , ste.site_nm AS site_nm
            , ite.prod_nm AS order_item_nm
            , ord.member_nm AS order_nm
            , usr.user_nm AS chg_user_nm
            , cd_ois.code_label AS order_item_status_cd_nm
        FROM odh_order_item_status_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN od_order_item ite ON ite.order_item_id = h.order_item_id
            LEFT JOIN od_order ord ON ord.order_id = h.order_id
            LEFT JOIN sy_user usr ON usr.user_id = h.chg_user_id
            LEFT JOIN sy_code cd_ois ON cd_ois.code_grp = 'ORDER_ITEM_STATUS' AND cd_ois.code_value = h.order_item_status_cd
            <include refid="odhOrderItemStatusHistCond"/>
        <include refid="odhOrderItemStatusHistSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(h.*)  /* base.ec.od :: OdhOrderItemStatusHist :: selectPageCount */
        FROM odh_order_item_status_hist h
            <include refid="odhOrderItemStatusHistCond"/>
    </select>

</mapper>
