<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.od.mapper.OdhPayStatusHistMapper">

    <sql id="odhPayStatusHistCond">
        <where>
            <if test="siteId != null and siteId != ''">AND h.site_id = #{siteId}</if>
            <if test="payStatusHistId != null and payStatusHistId != ''">AND h.pay_status_hist_id = #{payStatusHistId}</if>
            <if test="chgUserId != null and chgUserId != ''">AND h.chg_user_id = #{chgUserId}</if>
            <if test="status != null and status != ''">AND h.pay_status_cd = #{status}</if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND h.reg_date &gt;= #{dateStart}::DATE
                AND h.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="odhPayStatusHistSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY h.pay_status_hist_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY h.pay_status_hist_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY h.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY h.reg_date DESC</when>
            <otherwise>ORDER BY h.reg_date DESC</otherwise>
        </choose>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdhPayStatusHistDto$Item">
        SELECT  /* base.ec.od :: OdhPayStatusHist :: selectById */
              h.*
            , ste.site_nm AS site_nm
            , usr.user_nm AS chg_user_nm
            , cd_ps.code_label AS pay_status_cd_nm
        FROM odh_pay_status_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN sy_user usr ON usr.user_id = h.chg_user_id
            LEFT JOIN sy_code cd_ps ON cd_ps.code_grp = 'PAY_STATUS' AND cd_ps.code_value = h.pay_status_cd
        WHERE h.pay_status_hist_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdhPayStatusHistDto$Item">
        SELECT  /* base.ec.od :: OdhPayStatusHist :: selectList */
              h.*
            , ste.site_nm AS site_nm
            , usr.user_nm AS chg_user_nm
            , cd_ps.code_label AS pay_status_cd_nm
        FROM odh_pay_status_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN sy_user usr ON usr.user_id = h.chg_user_id
            LEFT JOIN sy_code cd_ps ON cd_ps.code_grp = 'PAY_STATUS' AND cd_ps.code_value = h.pay_status_cd
            <include refid="odhPayStatusHistCond"/>
        <include refid="odhPayStatusHistSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdhPayStatusHistDto$Item">
        SELECT  /* base.ec.od :: OdhPayStatusHist :: selectPageList */
              h.*
            , ste.site_nm AS site_nm
            , usr.user_nm AS chg_user_nm
            , cd_ps.code_label AS pay_status_cd_nm
        FROM odh_pay_status_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN sy_user usr ON usr.user_id = h.chg_user_id
            LEFT JOIN sy_code cd_ps ON cd_ps.code_grp = 'PAY_STATUS' AND cd_ps.code_value = h.pay_status_cd
            <include refid="odhPayStatusHistCond"/>
        <include refid="odhPayStatusHistSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(h.*)  /* base.ec.od :: OdhPayStatusHist :: selectPageCount */
        FROM odh_pay_status_hist h
            <include refid="odhPayStatusHistCond"/>
    </select>

</mapper>
