<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.od.mapper.OdOrderItemDiscntMapper">

    <!-- 주문 아이템 할인 조회 조건 -->
    <sql id="odOrderItemDiscntCond">
        <where>
            <if test="siteId != null and siteId != ''">AND d.site_id = #{siteId}</if>
            <if test="typeCd != null and typeCd != ''">AND d.discnt_type_cd = #{typeCd}</if>
            <if test="dateStart != null and dateStart != ''">AND d.reg_date &gt;= #{dateStart}::DATE</if>
            <if test="dateEnd   != null and dateEnd   != ''">AND d.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <!-- 주문 아이템 할인 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdOrderItemDiscntDto">
        SELECT  /* base.ec.od :: OdOrderItemDiscnt :: selectById */
              d.*
            , ste.site_nm AS site_nm
            , ord.member_nm AS order_nm
            , ite.prod_nm AS order_item_nm
            , cpn.coupon_nm AS coupon_nm
            , cd_oidt.code_label AS discnt_type_cd_nm
        FROM od_order_item_discnt d
            LEFT JOIN sy_site ste ON ste.site_id = d.site_id
            LEFT JOIN od_order ord ON ord.order_id = d.order_id
            LEFT JOIN od_order_item ite ON ite.order_item_id = d.order_item_id
            LEFT JOIN pm_coupon cpn ON cpn.coupon_id = d.coupon_id
            LEFT JOIN sy_code cd_oidt ON cd_oidt.code_grp = 'ORDER_ITEM_DISCNT_TYPE' AND cd_oidt.code_value = d.discnt_type_cd
        WHERE d.item_discnt_id = #{id}
    </select>

    <!-- 주문 아이템 할인 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdOrderItemDiscntDto">
        SELECT  /* base.ec.od :: OdOrderItemDiscnt :: selectList */
              d.*
            , ste.site_nm AS site_nm
            , ord.member_nm AS order_nm
            , ite.prod_nm AS order_item_nm
            , cpn.coupon_nm AS coupon_nm
            , cd_oidt.code_label AS discnt_type_cd_nm
        FROM od_order_item_discnt d
            LEFT JOIN sy_site ste ON ste.site_id = d.site_id
            LEFT JOIN od_order ord ON ord.order_id = d.order_id
            LEFT JOIN od_order_item ite ON ite.order_item_id = d.order_item_id
            LEFT JOIN pm_coupon cpn ON cpn.coupon_id = d.coupon_id
            LEFT JOIN sy_code cd_oidt ON cd_oidt.code_grp = 'ORDER_ITEM_DISCNT_TYPE' AND cd_oidt.code_value = d.discnt_type_cd
            <include refid="odOrderItemDiscntCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY d.item_discnt_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY d.item_discnt_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY d.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY d.reg_date DESC</when>
            <otherwise>ORDER BY d.reg_date DESC</otherwise>
        </choose>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 주문 아이템 할인 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdOrderItemDiscntDto">
        SELECT  /* base.ec.od :: OdOrderItemDiscnt :: selectPageList */
              d.*
            , ste.site_nm AS site_nm
            , ord.member_nm AS order_nm
            , ite.prod_nm AS order_item_nm
            , cpn.coupon_nm AS coupon_nm
            , cd_oidt.code_label AS discnt_type_cd_nm
        FROM od_order_item_discnt d
            LEFT JOIN sy_site ste ON ste.site_id = d.site_id
            LEFT JOIN od_order ord ON ord.order_id = d.order_id
            LEFT JOIN od_order_item ite ON ite.order_item_id = d.order_item_id
            LEFT JOIN pm_coupon cpn ON cpn.coupon_id = d.coupon_id
            LEFT JOIN sy_code cd_oidt ON cd_oidt.code_grp = 'ORDER_ITEM_DISCNT_TYPE' AND cd_oidt.code_value = d.discnt_type_cd
            <include refid="odOrderItemDiscntCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY d.item_discnt_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY d.item_discnt_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY d.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY d.reg_date DESC</when>
            <otherwise>ORDER BY d.reg_date DESC</otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 주문 아이템 할인 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)  /* base.ec.od :: OdOrderItemDiscnt :: selectPageCount */
        FROM od_order_item_discnt d
            <include refid="odOrderItemDiscntCond"/>
    </select>

    <!-- 주문 아이템 할인 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.od.data.entity.OdOrderItemDiscnt">
        UPDATE od_order_item_discnt  /* base.ec.od :: OdOrderItemDiscnt :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="orderItemId != null">order_item_id = #{orderItemId},</if>
            <if test="discntTypeCd != null">discnt_type_cd = #{discntTypeCd},</if>
            <if test="couponId != null">coupon_id = #{couponId},</if>
            <if test="couponIssueId != null">coupon_issue_id = #{couponIssueId},</if>
            <if test="discntRate != null">discnt_rate = #{discntRate},</if>
            <if test="unitDiscntAmt != null">unit_discnt_amt = #{unitDiscntAmt},</if>
            <if test="totalDiscntAmt != null">total_discnt_amt = #{totalDiscntAmt},</if>
            <if test="orderQty != null">order_qty = #{orderQty},</if>
        </set>
        WHERE item_discnt_id = #{itemDiscntId}
    </update>

</mapper>
