<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.od.mapper.OdOrderItemMapper">

    <!-- 원칙1: order_item_status_cd_nm, dliv_courier_cd_nm -->
    <!-- 원칙2: pd_prod, pd_prod_sku, pd_prod_opt_item(x2) -->

    <!-- 주문 아이템(상품) 조회 조건 -->
    <sql id="odOrderItemCond">
<where>
            <if test="siteId != null and siteId != ''">AND oi.site_id = #{siteId}</if>
            <if test="orderItemId != null and orderItemId != ''">AND oi.order_item_id = #{orderItemId}</if>
            <if test="prodId != null and prodId != ''">AND oi.prod_id = #{prodId}</if>
            <if test="skuId != null and skuId != ''">AND oi.sku_id = #{skuId}</if>
            <if test="status != null and status != ''">AND oi.order_item_status_cd = #{status}</if>
            <if test="searchValue != null and searchValue != ''">
                AND (1=0
                    <if test="searchTypes == null or searchTypes == '' or searchTypes.contains('def_order_id')">OR oi.order_id::TEXT ILIKE '%' || #{searchValue} || '%'</if>
                    <if test="searchTypes == null or searchTypes == '' or searchTypes.contains('def_prod_nm')">OR oi.prod_nm ILIKE '%' || #{searchValue} || '%'</if>
                )
            </if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' and dateType != null and dateType != ''">
                <choose>
                    <when test="dateType == 'reg_date'">
                        AND oi.reg_date &gt;= #{dateStart}::DATE
                        AND oi.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                    <when test="dateType == 'upd_date'">
                        AND oi.upd_date &gt;= #{dateStart}::DATE
                        AND oi.upd_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="odOrderItemSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY oi.order_item_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY oi.order_item_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY oi.prod_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY oi.prod_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY oi.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY oi.reg_date DESC</when>
            <otherwise>ORDER BY oi.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 주문 아이템(상품) 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdOrderItemDto$Item">
        SELECT  /* base.ec.od :: OdOrderItem :: selectById */
              oi.*
            , prod_nm AS prod_nm_current, thumbnail_url, sale_price
            , sk.sku_code
            , oi1.opt_item_nm AS opt_item_nm_1
            , oi2.opt_item_nm AS opt_item_nm_2
            , cd_is.code_label AS order_item_status_cd_nm
        FROM od_order_item oi
            LEFT JOIN pd_prod          p   ON prod_id       = oi.prod_id
            LEFT JOIN pd_prod_sku      sk  ON sk.sku_id       = oi.sku_id
            LEFT JOIN pd_prod_opt_item oi1 ON oi1.opt_item_id = oi.opt_item_id_1
            LEFT JOIN pd_prod_opt_item oi2 ON oi2.opt_item_id = oi.opt_item_id_2
            LEFT JOIN sy_code cd_is
                ON cd_is.code_grp = 'ORDER_ITEM_STATUS' AND cd_is.code_value = oi.order_item_status_cd
        WHERE oi.order_item_id = #{id}
    </select>

    <!-- 주문 아이템(상품) 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdOrderItemDto$Item">
        SELECT  /* base.ec.od :: OdOrderItem :: selectList */
              oi.*
            , thumbnail_url,    sale_price
            , sk.sku_code
            , oi1.opt_item_nm     AS opt_item_nm_1
            , oi2.opt_item_nm     AS opt_item_nm_2
            , cd_is.code_label    AS order_item_status_cd_nm
            , cd_dc.code_label    AS dliv_courier_cd_nm
        FROM od_order_item oi
            LEFT JOIN pd_prod          p   ON prod_id       = oi.prod_id
            LEFT JOIN pd_prod_sku      sk  ON sk.sku_id       = oi.sku_id
            LEFT JOIN pd_prod_opt_item oi1 ON oi1.opt_item_id = oi.opt_item_id_1
            LEFT JOIN pd_prod_opt_item oi2 ON oi2.opt_item_id = oi.opt_item_id_2
            LEFT JOIN sy_code cd_is
                ON cd_is.code_grp = 'ORDER_ITEM_STATUS' AND cd_is.code_value = oi.order_item_status_cd
            LEFT JOIN sy_code cd_dc
                ON cd_dc.code_grp = 'COURIER'           AND cd_dc.code_value = oi.dliv_courier_cd
                <include refid="odOrderItemCond"/>
        <include refid="odOrderItemSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 주문 아이템(상품) 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdOrderItemDto$Item">
        SELECT  /* base.ec.od :: OdOrderItem :: selectPageList */
              oi.*
            , thumbnail_url,    sale_price
            , sk.sku_code
            , oi1.opt_item_nm     AS opt_item_nm_1
            , oi2.opt_item_nm     AS opt_item_nm_2
            , cd_is.code_label    AS order_item_status_cd_nm
            , cd_dc.code_label    AS dliv_courier_cd_nm
        FROM od_order_item oi
            LEFT JOIN pd_prod          p   ON prod_id       = oi.prod_id
            LEFT JOIN pd_prod_sku      sk  ON sk.sku_id       = oi.sku_id
            LEFT JOIN pd_prod_opt_item oi1 ON oi1.opt_item_id = oi.opt_item_id_1
            LEFT JOIN pd_prod_opt_item oi2 ON oi2.opt_item_id = oi.opt_item_id_2
            LEFT JOIN sy_code cd_is
                ON cd_is.code_grp = 'ORDER_ITEM_STATUS' AND cd_is.code_value = oi.order_item_status_cd
            LEFT JOIN sy_code cd_dc
                ON cd_dc.code_grp = 'COURIER'           AND cd_dc.code_value = oi.dliv_courier_cd
                <include refid="odOrderItemCond"/>
        <include refid="odOrderItemSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 주문 아이템(상품) 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(oi.*) FROM od_order_item oi  /* base.ec.od :: OdOrderItem :: selectPageCount */
                <include refid="odOrderItemCond"/>
    </select>

    <!-- 주문 아이템(상품) 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.od.data.entity.OdOrderItem">
        UPDATE od_order_item  /* base.ec.od :: OdOrderItem :: updateSelective */
        <set>
            <if test="orderItemStatusCd != null">order_item_status_cd = #{orderItemStatusCd},</if>
            <if test="orderItemStatusCdBefore != null">order_item_status_cd_before = #{orderItemStatusCdBefore},</if>
            <if test="buyConfirmYn != null">buy_confirm_yn = #{buyConfirmYn},</if>
            <if test="buyConfirmDate != null">buy_confirm_date = #{buyConfirmDate},</if>
            <if test="settleYn != null">settle_yn = #{settleYn},</if>
            <if test="settleDate != null">settle_date = #{settleDate},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE order_item_id = #{orderItemId}
    </update>

    <!-- ================================================================
         확장 쿼리 (연관관계 조회 등)
         ================================================================ -->

    <!-- 주문번호로 주문 아이템 목록 조회 -->
    <select id="selectByOrderId" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdOrderItemDto$Item">
        SELECT  /* base.ec.od :: OdOrderItem :: selectByOrderId */
              oi.*
            , thumbnail_url
            , sk.sku_code
            , oi1.opt_item_nm AS opt_item_nm_1
            , oi2.opt_item_nm AS opt_item_nm_2
            , cd_is.code_label AS order_item_status_cd_nm
        FROM od_order_item oi
            LEFT JOIN pd_prod          p   ON prod_id       = oi.prod_id
            LEFT JOIN pd_prod_sku      sk  ON sk.sku_id       = oi.sku_id
            LEFT JOIN pd_prod_opt_item oi1 ON oi1.opt_item_id = oi.opt_item_id_1
            LEFT JOIN pd_prod_opt_item oi2 ON oi2.opt_item_id = oi.opt_item_id_2
            LEFT JOIN sy_code cd_is
                ON cd_is.code_grp = 'ORDER_ITEM_STATUS' AND cd_is.code_value = oi.order_item_status_cd
        WHERE oi.order_id = #{orderId}
        ORDER BY oi.reg_date ASC
    </select>

</mapper>

