<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.od.mapper.OdRefundMapper">

    <!-- 환불 조회 조건 -->
    <sql id="odRefundCond">
        <where>
            <if test="siteId != null and siteId != ''">AND r.site_id = #{siteId}</if>
            <if test="refundId != null and refundId != ''">AND r.refund_id = #{refundId}</if>
            <if test="orderId != null and orderId != ''">AND r.order_id = #{orderId}</if>
            <if test="claimId != null and claimId != ''">AND r.claim_id = #{claimId}</if>
            <if test="status != null and status != ''">AND r.refund_status_cd = #{status}</if>
            <if test="typeCd != null and typeCd != ''">AND r.refund_type_cd = #{typeCd}</if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' and dateType != null and dateType != ''">
                <choose>
                    <when test="dateType == 'reg_date'">
                        AND r.reg_date &gt;= #{dateStart}::DATE
                        AND r.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                    <when test="dateType == 'upd_date'">
                        AND r.upd_date &gt;= #{dateStart}::DATE
                        AND r.upd_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="odRefundSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY r.refund_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY r.refund_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY r.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY r.reg_date DESC</when>
            <otherwise>ORDER BY r.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 환불 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdRefundDto$Item">
        SELECT  /* base.ec.od :: OdRefund :: selectById */
              r.*
            , ste.site_nm AS site_nm
            , ord.member_nm AS order_nm
            , cla.member_nm AS claim_nm
            , cd_rt.code_label AS refund_type_cd_nm
            , cd_rs.code_label AS refund_status_cd_nm
            , cd_cf.code_label AS fault_type_cd_nm
        FROM od_refund r
            LEFT JOIN sy_site ste ON ste.site_id = r.site_id
            LEFT JOIN od_order ord ON ord.order_id = r.order_id
            LEFT JOIN od_claim cla ON cla.claim_id = r.claim_id
            LEFT JOIN sy_code cd_rt ON cd_rt.code_grp = 'REFUND_TYPE' AND cd_rt.code_value = r.refund_type_cd
            LEFT JOIN sy_code cd_rs ON cd_rs.code_grp = 'REFUND_STATUS' AND cd_rs.code_value = r.refund_status_cd
            LEFT JOIN sy_code cd_cf ON cd_cf.code_grp = 'CLAIM_FAULT' AND cd_cf.code_value = r.fault_type_cd
        WHERE r.refund_id = #{id}
    </select>

    <!-- 환불 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdRefundDto$Item">
        SELECT  /* base.ec.od :: OdRefund :: selectList */
              r.*
            , ste.site_nm AS site_nm
            , ord.member_nm AS order_nm
            , cla.member_nm AS claim_nm
            , cd_rt.code_label AS refund_type_cd_nm
            , cd_rs.code_label AS refund_status_cd_nm
            , cd_cf.code_label AS fault_type_cd_nm
        FROM od_refund r
            LEFT JOIN sy_site ste ON ste.site_id = r.site_id
            LEFT JOIN od_order ord ON ord.order_id = r.order_id
            LEFT JOIN od_claim cla ON cla.claim_id = r.claim_id
            LEFT JOIN sy_code cd_rt ON cd_rt.code_grp = 'REFUND_TYPE' AND cd_rt.code_value = r.refund_type_cd
            LEFT JOIN sy_code cd_rs ON cd_rs.code_grp = 'REFUND_STATUS' AND cd_rs.code_value = r.refund_status_cd
            LEFT JOIN sy_code cd_cf ON cd_cf.code_grp = 'CLAIM_FAULT' AND cd_cf.code_value = r.fault_type_cd
            <include refid="odRefundCond"/>
        <include refid="odRefundSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 환불 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.od.data.dto.OdRefundDto$Item">
        SELECT  /* base.ec.od :: OdRefund :: selectPageList */
              r.*
            , ste.site_nm AS site_nm
            , ord.member_nm AS order_nm
            , cla.member_nm AS claim_nm
            , cd_rt.code_label AS refund_type_cd_nm
            , cd_rs.code_label AS refund_status_cd_nm
            , cd_cf.code_label AS fault_type_cd_nm
        FROM od_refund r
            LEFT JOIN sy_site ste ON ste.site_id = r.site_id
            LEFT JOIN od_order ord ON ord.order_id = r.order_id
            LEFT JOIN od_claim cla ON cla.claim_id = r.claim_id
            LEFT JOIN sy_code cd_rt ON cd_rt.code_grp = 'REFUND_TYPE' AND cd_rt.code_value = r.refund_type_cd
            LEFT JOIN sy_code cd_rs ON cd_rs.code_grp = 'REFUND_STATUS' AND cd_rs.code_value = r.refund_status_cd
            LEFT JOIN sy_code cd_cf ON cd_cf.code_grp = 'CLAIM_FAULT' AND cd_cf.code_value = r.fault_type_cd
            <include refid="odRefundCond"/>
        <include refid="odRefundSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 환불 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(r.*)  /* base.ec.od :: OdRefund :: selectPageCount */
        FROM od_refund r
            <include refid="odRefundCond"/>
    </select>

    <!-- 환불 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.od.data.entity.OdRefund">
        UPDATE od_refund  /* base.ec.od :: OdRefund :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="claimId != null">claim_id = #{claimId},</if>
            <if test="refundTypeCd != null">refund_type_cd = #{refundTypeCd},</if>
            <if test="refundProdAmt != null">refund_prod_amt = #{refundProdAmt},</if>
            <if test="refundCouponAmt != null">refund_coupon_amt = #{refundCouponAmt},</if>
            <if test="refundShipAmt != null">refund_ship_amt = #{refundShipAmt},</if>
            <if test="refundSaveAmt != null">refund_save_amt = #{refundSaveAmt},</if>
            <if test="refundCacheAmt != null">refund_cache_amt = #{refundCacheAmt},</if>
            <if test="totalRefundAmt != null">total_refund_amt = #{totalRefundAmt},</if>
            <if test="refundStatusCd != null">refund_status_cd = #{refundStatusCd},</if>
            <if test="refundStatusCdBefore != null">refund_status_cd_before = #{refundStatusCdBefore},</if>
            <if test="refundReqDate != null">refund_req_date = #{refundReqDate},</if>
            <if test="refundCompltDate != null">refund_complt_date = #{refundCompltDate},</if>
            <if test="faultTypeCd != null">fault_type_cd = #{faultTypeCd},</if>
            <if test="refundReason != null">refund_reason = #{refundReason},</if>
            <if test="memo != null">memo = #{memo},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE refund_id = #{refundId}
    </update>

</mapper>
