<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.pd.mapper.PdhProdSkuPriceHistMapper">

    <!-- 상품 SKU 가격 이력 조회 조건 -->
    <sql id="pdhProdSkuPriceHistCond">
        <where>
            <if test="siteId != null and siteId != ''">AND h.site_id = #{siteId}</if>
            <if test="dateStart != null and dateStart != ''">AND h.reg_date &gt;= #{dateStart}::DATE</if>
            <if test="dateEnd   != null and dateEnd   != ''">AND h.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <!-- 상품 SKU 가격 이력 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdhProdSkuPriceHistDto">
        SELECT  /* base.ec.pd :: PdhProdSkuPriceHist :: selectById */
              h.*
            , ste.site_nm AS site_nm
            , prd.prod_nm AS prod_nm
        FROM pdh_prod_sku_price_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN pd_prod prd ON prd.prod_id = h.prod_id
        WHERE h.hist_id = #{id}
    </select>

    <!-- 상품 SKU 가격 이력 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdhProdSkuPriceHistDto">
        SELECT  /* base.ec.pd :: PdhProdSkuPriceHist :: selectList */
              h.*
            , ste.site_nm AS site_nm
            , prd.prod_nm AS prod_nm
        FROM pdh_prod_sku_price_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN pd_prod prd ON prd.prod_id = h.prod_id
            <include refid="pdhProdSkuPriceHistCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY h.hist_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY h.hist_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY h.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY h.reg_date DESC</when>
            <otherwise>ORDER BY h.reg_date DESC</otherwise>
        </choose>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 상품 SKU 가격 이력 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdhProdSkuPriceHistDto">
        SELECT  /* base.ec.pd :: PdhProdSkuPriceHist :: selectPageList */
              h.*
            , ste.site_nm AS site_nm
            , prd.prod_nm AS prod_nm
        FROM pdh_prod_sku_price_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN pd_prod prd ON prd.prod_id = h.prod_id
            <include refid="pdhProdSkuPriceHistCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY h.hist_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY h.hist_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY h.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY h.reg_date DESC</when>
            <otherwise>ORDER BY h.reg_date DESC</otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 상품 SKU 가격 이력 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(*)  /* base.ec.pd :: PdhProdSkuPriceHist :: selectPageCount */
        FROM pdh_prod_sku_price_hist h
            <include refid="pdhProdSkuPriceHistCond"/>
    </select>

</mapper>
