<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.pd.mapper.PdhProdStatusHistMapper">

    <!-- 상품 상태 이력 조회 조건 -->
    <sql id="pdhProdStatusHistCond">
        <where>
            <if test="siteId != null and siteId != ''">AND h.site_id = #{siteId}</if>
            <if test="prodStatusHistId != null and prodStatusHistId != ''">AND h.prod_status_hist_id = #{prodStatusHistId}</if>
            <if test="procUserId != null and procUserId != ''">AND h.proc_user_id = #{procUserId}</if>
            <if test="status != null and status != ''">AND h.before_status_cd = #{status}</if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND h.reg_date &gt;= #{dateStart}::DATE
                AND h.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="pdhProdStatusHistSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY h.prod_status_hist_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY h.prod_status_hist_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY h.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY h.reg_date DESC</when>
            <otherwise>ORDER BY h.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 상품 상태 이력 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdhProdStatusHistDto">
        SELECT  /* base.ec.pd :: PdhProdStatusHist :: selectById */
              h.*
            , ste.site_nm AS site_nm
            , usr.user_nm AS proc_user_nm
            , cd_ps.code_label AS before_status_cd_nm
        FROM pdh_prod_status_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN sy_user usr ON usr.user_id = h.proc_user_id
            LEFT JOIN sy_code cd_ps ON cd_ps.code_grp = 'PRODUCT_STATUS' AND cd_ps.code_value = h.before_status_cd
        WHERE h.prod_status_hist_id = #{id}
    </select>

    <!-- 상품 상태 이력 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdhProdStatusHistDto">
        SELECT  /* base.ec.pd :: PdhProdStatusHist :: selectList */
              h.*
            , ste.site_nm AS site_nm
            , usr.user_nm AS proc_user_nm
            , cd_ps.code_label AS before_status_cd_nm
        FROM pdh_prod_status_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN sy_user usr ON usr.user_id = h.proc_user_id
            LEFT JOIN sy_code cd_ps ON cd_ps.code_grp = 'PRODUCT_STATUS' AND cd_ps.code_value = h.before_status_cd
            <include refid="pdhProdStatusHistCond"/>
        <include refid="pdhProdStatusHistSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 상품 상태 이력 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdhProdStatusHistDto">
        SELECT  /* base.ec.pd :: PdhProdStatusHist :: selectPageList */
              h.*
            , ste.site_nm AS site_nm
            , usr.user_nm AS proc_user_nm
            , cd_ps.code_label AS before_status_cd_nm
        FROM pdh_prod_status_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN sy_user usr ON usr.user_id = h.proc_user_id
            LEFT JOIN sy_code cd_ps ON cd_ps.code_grp = 'PRODUCT_STATUS' AND cd_ps.code_value = h.before_status_cd
            <include refid="pdhProdStatusHistCond"/>
        <include refid="pdhProdStatusHistSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(h.*)  /* base.ec.pd :: PdhProdStatusHist :: selectPageCount */
        FROM pdh_prod_status_hist h
            <include refid="pdhProdStatusHistCond"/>
    </select>

</mapper>
