<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.pd.mapper.PdhProdSkuChgHistMapper">

    <!-- 상품 SKU 변경 이력 조회 조건 -->
    <sql id="pdhProdSkuChgHistCond">
        <where>
            <if test="siteId != null and siteId != ''">AND h.site_id = #{siteId}</if>
            <if test="histId != null and histId != ''">AND h.hist_id = #{histId}</if>
            <if test="prodId != null and prodId != ''">AND h.prod_id = #{prodId}</if>
            <if test="typeCd != null and typeCd != ''">AND h.chg_type_cd = #{typeCd}</if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' and dateType != null and dateType != ''">
                <choose>
                    <when test="dateType == 'reg_date'">
                        AND h.reg_date &gt;= #{dateStart}::DATE
                        AND h.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                    <when test="dateType == 'upd_date'">
                        AND h.upd_date &gt;= #{dateStart}::DATE
                        AND h.upd_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="pdhProdSkuChgHistSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY h.hist_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY h.hist_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY h.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY h.reg_date DESC</when>
            <otherwise>ORDER BY h.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 상품 SKU 변경 이력 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdhProdSkuChgHistDto$Item">
        SELECT  /* base.ec.pd :: PdhProdSkuChgHist :: selectById */
              h.*
            , ste.site_nm AS site_nm
            , prd.prod_nm AS prod_nm
            , cd_sct.code_label AS chg_type_cd_nm
        FROM pdh_prod_sku_chg_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN pd_prod prd ON prd.prod_id = h.prod_id
            LEFT JOIN sy_code cd_sct ON cd_sct.code_grp = 'SKU_CHG_TYPE' AND cd_sct.code_value = h.chg_type_cd
        WHERE h.hist_id = #{id}
    </select>

    <!-- 상품 SKU 변경 이력 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdhProdSkuChgHistDto$Item">
        SELECT  /* base.ec.pd :: PdhProdSkuChgHist :: selectList */
              h.*
            , ste.site_nm AS site_nm
            , prd.prod_nm AS prod_nm
            , cd_sct.code_label AS chg_type_cd_nm
        FROM pdh_prod_sku_chg_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN pd_prod prd ON prd.prod_id = h.prod_id
            LEFT JOIN sy_code cd_sct ON cd_sct.code_grp = 'SKU_CHG_TYPE' AND cd_sct.code_value = h.chg_type_cd
            <include refid="pdhProdSkuChgHistCond"/>
        <include refid="pdhProdSkuChgHistSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 상품 SKU 변경 이력 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.pd.data.dto.PdhProdSkuChgHistDto$Item">
        SELECT  /* base.ec.pd :: PdhProdSkuChgHist :: selectPageList */
              h.*
            , ste.site_nm AS site_nm
            , prd.prod_nm AS prod_nm
            , cd_sct.code_label AS chg_type_cd_nm
        FROM pdh_prod_sku_chg_hist h
            LEFT JOIN sy_site ste ON ste.site_id = h.site_id
            LEFT JOIN pd_prod prd ON prd.prod_id = h.prod_id
            LEFT JOIN sy_code cd_sct ON cd_sct.code_grp = 'SKU_CHG_TYPE' AND cd_sct.code_value = h.chg_type_cd
            <include refid="pdhProdSkuChgHistCond"/>
        <include refid="pdhProdSkuChgHistSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 상품 SKU 변경 이력 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(h.*)  /* base.ec.pd :: PdhProdSkuChgHist :: selectPageCount */
        FROM pdh_prod_sku_chg_hist h
            <include refid="pdhProdSkuChgHistCond"/>
    </select>

</mapper>
