<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.pm.mapper.PmGiftCondMapper">

    <!-- 사은품 지급 조건 조회 조건 -->
    <sql id="pmGiftCondCond">
        <where>
            <if test="siteId != null and siteId != ''">AND c.site_id = #{siteId}</if>
            <if test="giftCondId != null and giftCondId != ''">AND c.gift_cond_id = #{giftCondId}</if>
            <if test="giftId != null and giftId != ''">AND c.gift_id = #{giftId}</if>
            <if test="typeCd != null and typeCd != ''">AND c.cond_type_cd = #{typeCd}</if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND c.reg_date &gt;= #{dateStart}::DATE
                AND c.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="pmGiftCondSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY c.gift_cond_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY c.gift_cond_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY c.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY c.reg_date DESC</when>
            <otherwise>ORDER BY c.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 사은품 지급 조건 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.pm.data.dto.PmGiftCondDto">
        SELECT  /* base.ec.pm :: PmGiftCond :: selectById */
              c.*
            , gif.gift_nm AS gift_nm
            , ste.site_nm AS site_nm
            , cd_gct.code_label AS cond_type_cd_nm
        FROM pm_gift_cond c
            LEFT JOIN pm_gift gif ON gif.gift_id = c.gift_id
            LEFT JOIN sy_site ste ON ste.site_id = c.site_id
            LEFT JOIN sy_code cd_gct ON cd_gct.code_grp = 'GIFT_COND_TYPE' AND cd_gct.code_value = c.cond_type_cd
        WHERE c.gift_cond_id = #{id}
    </select>

    <!-- 사은품 지급 조건 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.pm.data.dto.PmGiftCondDto">
        SELECT  /* base.ec.pm :: PmGiftCond :: selectList */
              c.*
            , gif.gift_nm AS gift_nm
            , ste.site_nm AS site_nm
            , cd_gct.code_label AS cond_type_cd_nm
        FROM pm_gift_cond c
            LEFT JOIN pm_gift gif ON gif.gift_id = c.gift_id
            LEFT JOIN sy_site ste ON ste.site_id = c.site_id
            LEFT JOIN sy_code cd_gct ON cd_gct.code_grp = 'GIFT_COND_TYPE' AND cd_gct.code_value = c.cond_type_cd
            <include refid="pmGiftCondCond"/>
        <include refid="pmGiftCondSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 사은품 지급 조건 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.pm.data.dto.PmGiftCondDto">
        SELECT  /* base.ec.pm :: PmGiftCond :: selectPageList */
              c.*
            , gif.gift_nm AS gift_nm
            , ste.site_nm AS site_nm
            , cd_gct.code_label AS cond_type_cd_nm
        FROM pm_gift_cond c
            LEFT JOIN pm_gift gif ON gif.gift_id = c.gift_id
            LEFT JOIN sy_site ste ON ste.site_id = c.site_id
            LEFT JOIN sy_code cd_gct ON cd_gct.code_grp = 'GIFT_COND_TYPE' AND cd_gct.code_value = c.cond_type_cd
            <include refid="pmGiftCondCond"/>
        <include refid="pmGiftCondSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 사은품 지급 조건 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(c.*)  /* base.ec.pm :: PmGiftCond :: selectPageCount */
        FROM pm_gift_cond c
            <include refid="pmGiftCondCond"/>
    </select>

    <!-- 사은품 지급 조건 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.pm.data.entity.PmGiftCond">
        UPDATE pm_gift_cond  /* base.ec.pm :: PmGiftCond :: updateSelective */
        <set>
            <if test="giftId != null">gift_id = #{giftId},</if>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="condTypeCd != null">cond_type_cd = #{condTypeCd},</if>
            <if test="minOrderAmt != null">min_order_amt = #{minOrderAmt},</if>
            <if test="targetTypeCd != null">target_type_cd = #{targetTypeCd},</if>
            <if test="targetId != null">target_id = #{targetId},</if>
        </set>
        WHERE gift_cond_id = #{giftCondId}
    </update>

</mapper>
