<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.pm.mapper.PmPlanItemMapper">

    <!-- 프로모션 플랜 아이템 조회 조건 -->
    <sql id="pmPlanItemCond">
        <where>
            <if test="siteId != null and siteId != ''">AND i.site_id = #{siteId}</if>
            <if test="planItemId != null and planItemId != ''">AND i.plan_item_id = #{planItemId}</if>
            <if test="prodId != null and prodId != ''">AND i.prod_id = #{prodId}</if>
            <if test="planId != null and planId != ''">AND i.plan_id = #{planId}</if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND i.reg_date &gt;= #{dateStart}::DATE
                AND i.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="pmPlanItemSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY i.plan_item_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY i.plan_item_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY i.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY i.reg_date DESC</when>
            <otherwise>ORDER BY i.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 프로모션 플랜 아이템 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.pm.data.dto.PmPlanItemDto$Item">
        SELECT  /* base.ec.pm :: PmPlanItem :: selectById */
              i.*
            , pla.plan_nm AS plan_nm
            , prd.prod_nm AS prod_nm
            , ste.site_nm AS site_nm
        FROM pm_plan_item i
            LEFT JOIN pm_plan pla ON pla.plan_id = i.plan_id
            LEFT JOIN pd_prod prd ON prd.prod_id = i.prod_id
            LEFT JOIN sy_site ste ON ste.site_id = i.site_id
        WHERE i.plan_item_id = #{id}
    </select>

    <!-- 프로모션 플랜 아이템 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.pm.data.dto.PmPlanItemDto$Item">
        SELECT  /* base.ec.pm :: PmPlanItem :: selectList */
              i.*
            , pla.plan_nm AS plan_nm
            , prd.prod_nm AS prod_nm
            , ste.site_nm AS site_nm
        FROM pm_plan_item i
            LEFT JOIN pm_plan pla ON pla.plan_id = i.plan_id
            LEFT JOIN pd_prod prd ON prd.prod_id = i.prod_id
            LEFT JOIN sy_site ste ON ste.site_id = i.site_id
            <include refid="pmPlanItemCond"/>
        <include refid="pmPlanItemSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 프로모션 플랜 아이템 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.pm.data.dto.PmPlanItemDto$Item">
        SELECT  /* base.ec.pm :: PmPlanItem :: selectPageList */
              i.*
            , pla.plan_nm AS plan_nm
            , prd.prod_nm AS prod_nm
            , ste.site_nm AS site_nm
        FROM pm_plan_item i
            LEFT JOIN pm_plan pla ON pla.plan_id = i.plan_id
            LEFT JOIN pd_prod prd ON prd.prod_id = i.prod_id
            LEFT JOIN sy_site ste ON ste.site_id = i.site_id
            <include refid="pmPlanItemCond"/>
        <include refid="pmPlanItemSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 프로모션 플랜 아이템 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(i.*)  /* base.ec.pm :: PmPlanItem :: selectPageCount */
        FROM pm_plan_item i
            <include refid="pmPlanItemCond"/>
    </select>

    <!-- 프로모션 플랜 아이템 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.pm.data.entity.PmPlanItem">
        UPDATE pm_plan_item  /* base.ec.pm :: PmPlanItem :: updateSelective */
        <set>
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="prodId != null">prod_id = #{prodId},</if>
            <if test="sortOrd != null">sort_ord = #{sortOrd},</if>
            <if test="planItemMemo != null">plan_item_memo = #{planItemMemo},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE plan_item_id = #{planItemId}
    </update>

</mapper>
