<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyAttachMapper">

    <!-- 첨부파일 조회 조건 -->
    <sql id="syAttachCond">
        <where>
            <if test="siteId != null and siteId != ''">AND a.site_id = #{siteId}</if>
            <if test="attachId != null and attachId != ''">AND a.attach_id = #{attachId}</if>
            <if test="attachGrpId != null and attachGrpId != ''">AND a.attach_grp_id = #{attachGrpId}</if>
            <if test="typeCd != null and typeCd != ''">AND a.mime_type_cd = #{typeCd}</if>
            <if test="searchValue != null and searchValue != ''">
                AND (1=0
                    <if test="searchTypes == null or searchTypes == '' or searchTypes.contains('def_file_nm')">OR a.file_nm ILIKE '%' || #{searchValue} || '%'</if>
                    <if test="searchTypes == null or searchTypes == '' or searchTypes.contains('def_stored_nm')">OR a.stored_nm ILIKE '%' || #{searchValue} || '%'</if>
                )
            </if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' and dateType != null and dateType != ''">
                <choose>
                    <when test="dateType == 'reg_date'">
                        AND a.reg_date &gt;= #{dateStart}::DATE
                        AND a.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                    <when test="dateType == 'upd_date'">
                        AND a.upd_date &gt;= #{dateStart}::DATE
                        AND a.upd_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 첨부파일 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyAttachDto$Item">
        SELECT  /* base.sy :: SyAttach :: selectById */
              a.*
            , ste.site_nm AS site_nm
        FROM sy_attach a
            LEFT JOIN sy_site ste ON ste.site_id = a.site_id
        WHERE a.attach_id = #{id}
    </select>

    <!-- 첨부파일 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyAttachDto$Item">
        SELECT  /* base.sy :: SyAttach :: selectList */
              a.*
            , ste.site_nm AS site_nm
        FROM sy_attach a
            LEFT JOIN sy_site ste ON ste.site_id = a.site_id
            <include refid="syAttachCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY a.attach_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY a.attach_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY a.file_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY a.file_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY a.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY a.reg_date DESC</when>
            <otherwise>ORDER BY a.sort_ord ASC, a.reg_date ASC</otherwise>
        </choose>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 첨부파일 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyAttachDto$Item">
        SELECT  /* base.sy :: SyAttach :: selectPageList */
              a.*
            , ste.site_nm AS site_nm
        FROM sy_attach a
            LEFT JOIN sy_site ste ON ste.site_id = a.site_id
            <include refid="syAttachCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY a.attach_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY a.attach_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY a.file_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY a.file_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY a.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY a.reg_date DESC</when>
            <otherwise>ORDER BY a.reg_date DESC</otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 첨부파일 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(a.*)  /* base.sy :: SyAttach :: selectPageCount */
        FROM sy_attach a
            <include refid="syAttachCond"/>
    </select>

    <!-- 첨부파일 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyAttach">
        UPDATE sy_attach  /* base.sy :: SyAttach :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="attachGrpId != null">attach_grp_id = #{attachGrpId},</if>
            <if test="fileNm != null">file_nm = #{fileNm},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="fileExt != null">file_ext = #{fileExt},</if>
            <if test="mimeTypeCd != null">mime_type_cd = #{mimeTypeCd},</if>
            <if test="storedNm != null">stored_nm = #{storedNm},</if>
            <if test="attachUrl != null">attach_url = #{attachUrl},</if>
            <if test="physicalPath != null">physical_path = #{physicalPath},</if>
            <if test="cdnHost != null">cdn_host = #{cdnHost},</if>
            <if test="cdnImgUrl != null">cdn_img_url = #{cdnImgUrl},</if>
            <if test="cdnThumbUrl != null">cdn_thumb_url = #{cdnThumbUrl},</if>
            <if test="sortOrd != null">sort_ord = #{sortOrd},</if>
            <if test="attachMemo != null">attach_memo = #{attachMemo},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE attach_id = #{attachId}
    </update>

</mapper>

