<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyBatchMapper">

    <!-- 배치 조회 조건 -->
    <sql id="syBatchCond">
        <where>
            <if test="siteId != null and siteId != ''">AND b.site_id = #{siteId}</if>
            <if test="status != null and status != ''">AND b.batch_status_cd = #{status}</if>
            <if test="kw != null and kw != ''">
                AND (b.batch_nm ILIKE '%' || #{kw} || '%')
            </if>
            <if test="dateStart != null and dateStart != ''">AND b.reg_date &gt;= #{dateStart}::DATE</if>
            <if test="dateEnd   != null and dateEnd   != ''">AND b.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <!-- 배치 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyBatchDto">
        SELECT  /* base.sy :: SyBatch :: selectById */
              b.*
            , ste.site_nm AS site_nm
            , cd_bc.code_label AS batch_cycle_cd_nm
            , cd_bs.code_label AS batch_status_cd_nm
        FROM sy_batch b
            LEFT JOIN sy_site ste ON ste.site_id = b.site_id
            LEFT JOIN sy_code cd_bc ON cd_bc.code_grp = 'BATCH_CYCLE' AND cd_bc.code_value = b.batch_cycle_cd
            LEFT JOIN sy_code cd_bs ON cd_bs.code_grp = 'BATCH_STATUS' AND cd_bs.code_value = b.batch_status_cd
        WHERE b.batch_id = #{id}
    </select>

    <!-- 배치 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyBatchDto">
        SELECT  /* base.sy :: SyBatch :: selectList */
              b.*
            , ste.site_nm AS site_nm
            , cd_bc.code_label AS batch_cycle_cd_nm
            , cd_bs.code_label AS batch_status_cd_nm
        FROM sy_batch b
            LEFT JOIN sy_site ste ON ste.site_id = b.site_id
            LEFT JOIN sy_code cd_bc ON cd_bc.code_grp = 'BATCH_CYCLE' AND cd_bc.code_value = b.batch_cycle_cd
            LEFT JOIN sy_code cd_bs ON cd_bs.code_grp = 'BATCH_STATUS' AND cd_bs.code_value = b.batch_status_cd
            <include refid="syBatchCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY b.batch_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY b.batch_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY b.batch_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY b.batch_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY b.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY b.reg_date DESC</when>
            <otherwise>ORDER BY b.reg_date DESC</otherwise>
        </choose>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 배치 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyBatchDto">
        SELECT  /* base.sy :: SyBatch :: selectPageList */
              b.*
            , ste.site_nm AS site_nm
            , cd_bc.code_label AS batch_cycle_cd_nm
            , cd_bs.code_label AS batch_status_cd_nm
        FROM sy_batch b
            LEFT JOIN sy_site ste ON ste.site_id = b.site_id
            LEFT JOIN sy_code cd_bc ON cd_bc.code_grp = 'BATCH_CYCLE' AND cd_bc.code_value = b.batch_cycle_cd
            LEFT JOIN sy_code cd_bs ON cd_bs.code_grp = 'BATCH_STATUS' AND cd_bs.code_value = b.batch_status_cd
            <include refid="syBatchCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY b.batch_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY b.batch_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY b.batch_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY b.batch_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY b.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY b.reg_date DESC</when>
            <otherwise>ORDER BY b.reg_date DESC</otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 배치 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(b.*)  /* base.sy :: SyBatch :: selectPageCount */
        FROM sy_batch b
            <include refid="syBatchCond"/>
    </select>

    <!-- 배치 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyBatch">
        UPDATE sy_batch  /* base.sy :: SyBatch :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="batchCode != null">batch_code = #{batchCode},</if>
            <if test="batchNm != null">batch_nm = #{batchNm},</if>
            <if test="batchDesc != null">batch_desc = #{batchDesc},</if>
            <if test="cronExpr != null">cron_expr = #{cronExpr},</if>
            <if test="batchCycleCd != null">batch_cycle_cd = #{batchCycleCd},</if>
            <if test="batchLastRun != null">batch_last_run = #{batchLastRun},</if>
            <if test="batchNextRun != null">batch_next_run = #{batchNextRun},</if>
            <if test="batchRunCount != null">batch_run_count = #{batchRunCount},</if>
            <if test="batchStatusCd != null">batch_status_cd = #{batchStatusCd},</if>
            <if test="batchRunStatus != null">batch_run_status = #{batchRunStatus},</if>
            <if test="batchTimeoutSec != null">batch_timeout_sec = #{batchTimeoutSec},</if>
            <if test="batchMemo != null">batch_memo = #{batchMemo},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
            <if test="dispPath != null">disp_path = #{dispPath},</if>
        </set>
        WHERE batch_id = #{batchId}
    </update>

</mapper>
