<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyBrandMapper">

    <!-- 브랜드 조회 조건 -->
    <sql id="syBrandCond">
        <where>
            <if test="siteId != null and siteId != ''">AND b.site_id = #{siteId}</if>
            <if test="brandId != null and brandId != ''">AND b.brand_id = #{brandId}</if>
            <if test="pathId != null and pathId != ''">
                AND b.path_id IN (
                    WITH RECURSIVE sub AS (
                        SELECT path_id FROM shopjoy_2604.sy_path WHERE path_id = #{pathId}
                        UNION ALL
                        SELECT p.path_id FROM shopjoy_2604.sy_path p JOIN sub s ON p.parent_path_id = s.path_id
                    ) SELECT path_id FROM sub
                )
            </if>
            <if test="vendorId != null and vendorId != ''">AND b.vendor_id = #{vendorId}</if>
            <if test="searchValue != null and searchValue != '' and searchTypes != null and searchTypes != ''">
                AND (1=0
                    <if test="searchTypes.contains('def_name')">  OR b.brand_nm    ILIKE '%' || #{searchValue} || '%'</if>
                    <if test="searchTypes.contains('def_enName')">OR b.brand_en_nm ILIKE '%' || #{searchValue} || '%'</if>
                )
            </if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND b.reg_date &gt;= #{dateStart}::DATE
                AND b.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="syBrandSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY b.brand_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY b.brand_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY b.brand_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY b.brand_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY b.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY b.reg_date DESC</when>
            <otherwise>ORDER BY b.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 브랜드 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyBrandDto$Item">
        SELECT  /* base.sy :: SyBrand :: selectById */
              b.*
            , ste.site_nm AS site_nm
        FROM sy_brand b
            LEFT JOIN sy_site ste ON ste.site_id = b.site_id
        WHERE b.brand_id = #{id}
    </select>

    <!-- 브랜드 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyBrandDto$Item">
        SELECT  /* base.sy :: SyBrand :: selectList */
              b.*
            , ste.site_nm AS site_nm
        FROM sy_brand b
            LEFT JOIN sy_site ste ON ste.site_id = b.site_id
            <include refid="syBrandCond"/>
        <include refid="syBrandSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 브랜드 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyBrandDto$Item">
        SELECT  /* base.sy :: SyBrand :: selectPageList */
              b.*
            , ste.site_nm AS site_nm
        FROM sy_brand b
            LEFT JOIN sy_site ste ON ste.site_id = b.site_id
            <include refid="syBrandCond"/>
        <include refid="syBrandSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 브랜드 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(b.*)  /* base.sy :: SyBrand :: selectPageCount */
        FROM sy_brand b
            <include refid="syBrandCond"/>
    </select>

    <!-- 브랜드 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyBrand">
        UPDATE sy_brand  /* base.sy :: SyBrand :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="brandCode != null">brand_code = #{brandCode},</if>
            <if test="brandNm != null">brand_nm = #{brandNm},</if>
            <if test="brandEnNm != null">brand_en_nm = #{brandEnNm},</if>
            <if test="pathId != null">path_id = #{pathId},</if>
            <if test="logoUrl != null">logo_url = #{logoUrl},</if>
            <if test="vendorId != null">vendor_id = #{vendorId},</if>
            <if test="sortOrd != null">sort_ord = #{sortOrd},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="brandRemark != null">brand_remark = #{brandRemark},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE brand_id = #{brandId}
    </update>

</mapper>
