<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyContactMapper">

    <!-- 문의 조회 조건 -->
    <sql id="syContactCond">
        <where>
            <if test="siteId != null and siteId != ''">AND c.site_id = #{siteId}</if>
            <if test="contactId != null and contactId != ''">AND c.contact_id = #{contactId}</if>
            <if test="status != null and status != ''">AND c.contact_status_cd = #{status}</if>
            <if test="searchValue != null and searchValue != ''">
                AND (1=0
                    <if test="searchTypes == null or searchTypes == '' or searchTypes.contains('def_member')">OR c.member_nm ILIKE '%' || #{searchValue} || '%'</if>
                    <if test="searchTypes == null or searchTypes == '' or searchTypes.contains('def_title')"> OR c.contact_title ILIKE '%' || #{searchValue} || '%'</if>
                )
            </if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' and dateType != null and dateType != ''">
                <choose>
                    <when test="dateType == 'reg_date'">
                        AND c.reg_date &gt;= #{dateStart}::DATE
                        AND c.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                    <when test="dateType == 'upd_date'">
                        AND c.upd_date &gt;= #{dateStart}::DATE
                        AND c.upd_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="syContactSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY c.contact_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY c.contact_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY c.member_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY c.member_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY c.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY c.reg_date DESC</when>
            <otherwise>ORDER BY c.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 문의 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyContactDto$Item">
        SELECT  /* base.sy :: SyContact :: selectById */
              c.*
            , ste.site_nm AS site_nm
            , cd_cs.code_label AS contact_status_cd_nm
        FROM sy_contact c
            LEFT JOIN sy_site ste ON ste.site_id = c.site_id
            LEFT JOIN sy_code cd_cs ON cd_cs.code_grp = 'CONTACT_STATUS' AND cd_cs.code_value = c.contact_status_cd
        WHERE c.contact_id = #{id}
    </select>

    <!-- 문의 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyContactDto$Item">
        SELECT  /* base.sy :: SyContact :: selectList */
              c.*
            , ste.site_nm AS site_nm
            , cd_cs.code_label AS contact_status_cd_nm
        FROM sy_contact c
            LEFT JOIN sy_site ste ON ste.site_id = c.site_id
            LEFT JOIN sy_code cd_cs ON cd_cs.code_grp = 'CONTACT_STATUS' AND cd_cs.code_value = c.contact_status_cd
            <include refid="syContactCond"/>
        <include refid="syContactSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 문의 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyContactDto$Item">
        SELECT  /* base.sy :: SyContact :: selectPageList */
              c.*
            , ste.site_nm AS site_nm
            , cd_cs.code_label AS contact_status_cd_nm
        FROM sy_contact c
            LEFT JOIN sy_site ste ON ste.site_id = c.site_id
            LEFT JOIN sy_code cd_cs ON cd_cs.code_grp = 'CONTACT_STATUS' AND cd_cs.code_value = c.contact_status_cd
            <include refid="syContactCond"/>
        <include refid="syContactSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 문의 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(c.*)  /* base.sy :: SyContact :: selectPageCount */
        FROM sy_contact c
            <include refid="syContactCond"/>
    </select>

    <!-- 문의 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyContact">
        UPDATE sy_contact  /* base.sy :: SyContact :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="memberNm != null">member_nm = #{memberNm},</if>
            <if test="categoryCd != null">category_cd = #{categoryCd},</if>
            <if test="contactTitle != null">contact_title = #{contactTitle},</if>
            <if test="contactContent != null">contact_content = #{contactContent},</if>
            <if test="attachGrpId != null">attach_grp_id = #{attachGrpId},</if>
            <if test="contactStatusCd != null">contact_status_cd = #{contactStatusCd},</if>
            <if test="contactAnswer != null">contact_answer = #{contactAnswer},</if>
            <if test="answerUserId != null">answer_user_id = #{answerUserId},</if>
            <if test="answerDate != null">answer_date = #{answerDate},</if>
            <if test="contactDate != null">contact_date = #{contactDate},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE contact_id = #{contactId}
    </update>

</mapper>

