<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyhAccessErrorLogMapper">

    <sql id="syhAccessErrorLogCond">
        <where>
            <if test="dateStart != null and dateStart != ''">AND l.reg_date &gt;= #{dateStart}::DATE</if>
            <if test="dateEnd   != null and dateEnd   != ''">AND l.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')</if>
            <if test="method    != null and method    != ''">AND l.req_method = #{method}</if>
            <if test="path      != null and path      != ''">AND l.req_path LIKE '%'||#{path}||'%'</if>
            <if test="userTypeCd != null and userTypeCd != ''">AND l.user_type_cd = #{userTypeCd}</if>
            <if test="uiNm      != null and uiNm      != ''">AND l.ui_nm    LIKE '%'||#{uiNm}||'%'</if>
            <if test="traceId   != null and traceId   != ''">AND l.trace_id LIKE '%'||#{traceId}||'%'</if>
            <if test="kw        != null and kw        != ''">AND (l.req_ip LIKE '%'||#{kw}||'%' OR l.user_id LIKE '%'||#{kw}||'%' OR l.error_type LIKE '%'||#{kw}||'%')</if>
        </where>
    </sql>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyhAccessErrorLogDto">
        SELECT /* base.sy :: SyhAccessErrorLogMapper :: selectPageList */
              l.log_id
            , l.req_method
            , l.req_host
            , l.req_path
            , l.req_query
            , l.req_ip
            , l.req_ua
            , l.user_type_cd
            , l.user_id
            , l.role_id
            , l.dept_id
            , l.vendor_id
            , l.locale_id
            , l.resp_time_ms
            , l.error_type
            , l.error_msg
            , l.stack_trace
            , l.ui_nm
            , l.cmd_nm
            , l.file_nm
            , l.func_nm
            , l.line_no
            , l.trace_id
            , l.server_nm
            , l.profile
            , l.thread_nm
            , l.logger_nm
            , l.log_dt
            , l.reg_date
        FROM shopjoy_2604.syh_access_error_log l
        <include refid="syhAccessErrorLogCond"/>
        ORDER BY l.log_dt DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(l.*) /* base.sy :: SyhAccessErrorLogMapper :: selectPageCount */
        FROM shopjoy_2604.syh_access_error_log l
        <include refid="syhAccessErrorLogCond"/>
    </select>

</mapper>
