<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyhBatchLogMapper">

    <sql id="syhBatchLogCond">
        <where>
            <if test="siteId != null and siteId != ''">AND l.site_id = #{siteId}</if>
            <if test="kw != null and kw != ''">
                AND (l.batch_nm ILIKE '%' || #{kw} || '%')
            </if>
            <if test="dateStart != null and dateStart != ''">AND l.reg_date &gt;= #{dateStart}::DATE</if>
            <if test="dateEnd   != null and dateEnd   != ''">AND l.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyhBatchLogDto">
        SELECT  /* base.sy :: SyhBatchLog :: selectById */
              l.*
            , ste.site_nm AS site_nm
        FROM syh_batch_log l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
        WHERE l.batch_log_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyhBatchLogDto">
        SELECT  /* base.sy :: SyhBatchLog :: selectList */
              l.*
            , ste.site_nm AS site_nm
        FROM syh_batch_log l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            <include refid="syhBatchLogCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY l.batch_log_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY l.batch_log_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY l.batch_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY l.batch_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY l.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY l.reg_date DESC</when>
            <otherwise>ORDER BY l.reg_date DESC</otherwise>
        </choose>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyhBatchLogDto">
        SELECT  /* base.sy :: SyhBatchLog :: selectPageList */
              l.*
            , ste.site_nm AS site_nm
        FROM syh_batch_log l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            <include refid="syhBatchLogCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY l.batch_log_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY l.batch_log_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY l.batch_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY l.batch_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY l.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY l.reg_date DESC</when>
            <otherwise>ORDER BY l.reg_date DESC</otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(l.*)  /* base.sy :: SyhBatchLog :: selectPageCount */
        FROM syh_batch_log l
            <include refid="syhBatchLogCond"/>
    </select>

</mapper>
