<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyhUserTokenLogMapper">

    <sql id="syhUserTokenLogCond">
        <where>
            <if test="siteId      != null and siteId      != ''">AND l.site_id       = #{siteId}</if>
            <if test="logId != null and logId != ''">AND l.log_id = #{logId}</if>
            <if test="userId      != null and userId      != ''">AND l.user_id        = #{userId}</if>
            <if test="actionCd    != null and actionCd    != ''">AND l.action_cd      = #{actionCd}</if>
            <if test="tokenTypeCd != null and tokenTypeCd != ''">AND l.token_type_cd  = #{tokenTypeCd}</if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND l.reg_date      &gt;= #{dateStart}::DATE
                AND l.reg_date      &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
            <if test="ip          != null and ip          != ''">AND l.ip            LIKE '%'||#{ip}||'%'</if>
            <if test="uiNm        != null and uiNm        != ''">AND l.ui_nm         LIKE '%'||#{uiNm}||'%'</if>
            <if test="traceId     != null and traceId     != ''">AND l.trace_id      LIKE '%'||#{traceId}||'%'</if>
            <if test="searchValue != null and searchValue != '' and searchTypes != null and searchTypes != ''">
                AND (1=0
                    <if test="searchTypes.contains('def_userId')"> OR l.user_id  LIKE '%'||#{searchValue}||'%'</if>
                    <if test="searchTypes.contains('def_loginId')">OR l.login_id LIKE '%'||#{searchValue}||'%'</if>
                )
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="syhUserTokenLogSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY l.log_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY l.log_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY l.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY l.reg_date DESC</when>
            <otherwise>ORDER BY l.reg_date DESC</otherwise>
        </choose>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyhUserTokenLogDto$Item">
        SELECT  /* base.sy :: SyhUserTokenLog :: selectById */
              l.*
            , ste.site_nm       AS site_nm
            , usr.user_nm       AS user_nm
            , cd_ta.code_label  AS action_cd_nm
            , cd_tt.code_label  AS token_type_cd_nm
        FROM syh_user_token_log l
            LEFT JOIN sy_site ste  ON ste.site_id    = l.site_id
            LEFT JOIN sy_user usr  ON usr.user_id    = l.user_id
            LEFT JOIN sy_code cd_ta ON cd_ta.code_grp = 'TOKEN_ACTION' AND cd_ta.code_value = l.action_cd
            LEFT JOIN sy_code cd_tt ON cd_tt.code_grp = 'TOKEN_TYPE'   AND cd_tt.code_value = l.token_type_cd
        WHERE l.log_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyhUserTokenLogDto$Item">
        SELECT  /* base.sy :: SyhUserTokenLog :: selectList */
              l.*
            , ste.site_nm       AS site_nm
            , usr.user_nm       AS user_nm
            , cd_ta.code_label  AS action_cd_nm
            , cd_tt.code_label  AS token_type_cd_nm
        FROM syh_user_token_log l
            LEFT JOIN sy_site ste  ON ste.site_id    = l.site_id
            LEFT JOIN sy_user usr  ON usr.user_id    = l.user_id
            LEFT JOIN sy_code cd_ta ON cd_ta.code_grp = 'TOKEN_ACTION' AND cd_ta.code_value = l.action_cd
            LEFT JOIN sy_code cd_tt ON cd_tt.code_grp = 'TOKEN_TYPE'   AND cd_tt.code_value = l.token_type_cd
        <include refid="syhUserTokenLogCond"/>
        <include refid="syhUserTokenLogSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyhUserTokenLogDto$Item">
        SELECT  /* base.sy :: SyhUserTokenLog :: selectPageList */
              l.*
            , ste.site_nm       AS site_nm
            , usr.user_nm       AS user_nm
            , cd_ta.code_label  AS action_cd_nm
            , cd_tt.code_label  AS token_type_cd_nm
        FROM syh_user_token_log l
            LEFT JOIN sy_site ste  ON ste.site_id    = l.site_id
            LEFT JOIN sy_user usr  ON usr.user_id    = l.user_id
            LEFT JOIN sy_code cd_ta ON cd_ta.code_grp = 'TOKEN_ACTION' AND cd_ta.code_value = l.action_cd
            LEFT JOIN sy_code cd_tt ON cd_tt.code_grp = 'TOKEN_TYPE'   AND cd_tt.code_value = l.token_type_cd
        <include refid="syhUserTokenLogCond"/>
        <include refid="syhUserTokenLogSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(l.*)  /* base.sy :: SyhUserTokenLog :: selectPageCount */
        FROM syh_user_token_log l
        <include refid="syhUserTokenLogCond"/>
    </select>

</mapper>
