<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyPathMapper">

    <sql id="cols">
        path_id, biz_cd, parent_path_id, path_label, sort_ord,
        use_yn, path_remark, reg_by, reg_date, upd_by, upd_date
    </sql>

    <sql id="cond">
        <where>
            <if test="bizCd != null and bizCd != ''">AND p.biz_cd = #{bizCd}</if>
            <if test="parentPathId != null">AND p.parent_path_id = #{parentPathId}</if>
            <if test="useYn != null and useYn != ''">AND p.use_yn = #{useYn}</if>
            <if test="kw != null and kw != ''">AND (p.path_label ILIKE '%'||#{kw}||'%' OR p.path_remark ILIKE '%'||#{kw}||'%')</if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyPathDto">
        SELECT <include refid="cols"/>
        FROM shopjoy_2604.sy_path p
        WHERE path_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyPathDto">
        SELECT <include refid="cols"/>
        FROM shopjoy_2604.sy_path p
        <include refid="cond"/>
        ORDER BY p.sort_ord ASC, p.path_id ASC
        <if test="limit != null">LIMIT #{limit}</if>
        <if test="offset != null">OFFSET #{offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyPathDto">
        SELECT <include refid="cols"/>
        FROM shopjoy_2604.sy_path p
        <include refid="cond"/>
        ORDER BY p.sort_ord ASC, p.path_id ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(a.*)
        FROM shopjoy_2604.sy_path p
        <include refid="cond"/>
    </select>

    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyPath">
        UPDATE shopjoy_2604.sy_path
        <set>
            <if test="bizCd != null">biz_cd = #{bizCd},</if>
            <if test="parentPathId != null">parent_path_id = #{parentPathId},</if>
            <if test="pathLabel != null">path_label = #{pathLabel},</if>
            <if test="sortOrd != null">sort_ord = #{sortOrd},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="pathRemark != null">path_remark = #{pathRemark},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE path_id = #{pathId}
    </update>

</mapper>
