<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyPropMapper">

    <sql id="syPropCond">
        <where>
            <if test="siteId != null and siteId != ''">AND p.site_id = #{siteId}</if>
            <if test="typeCd != null and typeCd != ''">AND p.prop_type_cd = #{typeCd}</if>
            <if test="dateStart != null and dateStart != ''">AND p.reg_date &gt;= #{dateStart}::DATE</if>
            <if test="dateEnd   != null and dateEnd   != ''">AND p.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyPropDto">
        SELECT  /* base.sy :: SyProp :: selectById */
              p.*
            , ste.site_nm            AS site_nm
            , cd_pt.code_label       AS prop_type_cd_nm
        FROM shopjoy_2604.sy_prop p
            LEFT JOIN shopjoy_2604.sy_site ste ON ste.site_id = p.site_id
            LEFT JOIN shopjoy_2604.sy_code cd_pt ON cd_pt.code_grp = 'PROP_TYPE' AND cd_pt.code_value = p.prop_type_cd
        WHERE p.prop_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyPropDto">
        SELECT  /* base.sy :: SyProp :: selectList */
              p.*
            , ste.site_nm            AS site_nm
            , cd_pt.code_label       AS prop_type_cd_nm
        FROM shopjoy_2604.sy_prop p
            LEFT JOIN shopjoy_2604.sy_site ste ON ste.site_id = p.site_id
            LEFT JOIN shopjoy_2604.sy_code cd_pt ON cd_pt.code_grp = 'PROP_TYPE' AND cd_pt.code_value = p.prop_type_cd
            <include refid="syPropCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY p.prop_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY p.prop_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY p.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY p.reg_date DESC</when>
            <otherwise>ORDER BY p.reg_date DESC</otherwise>
        </choose>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyPropDto">
        SELECT  /* base.sy :: SyProp :: selectPageList */
              p.*
            , ste.site_nm            AS site_nm
            , cd_pt.code_label       AS prop_type_cd_nm
        FROM shopjoy_2604.sy_prop p
            LEFT JOIN shopjoy_2604.sy_site ste ON ste.site_id = p.site_id
            LEFT JOIN shopjoy_2604.sy_code cd_pt ON cd_pt.code_grp = 'PROP_TYPE' AND cd_pt.code_value = p.prop_type_cd
            <include refid="syPropCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY p.prop_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY p.prop_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY p.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY p.reg_date DESC</when>
            <otherwise>ORDER BY p.reg_date DESC</otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(p.*)  /* base.sy :: SyProp :: selectPageCount */
        FROM shopjoy_2604.sy_prop p
            <include refid="syPropCond"/>
    </select>

    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyProp">
        UPDATE shopjoy_2604.sy_prop  /* base.sy :: SyProp :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="dispPath != null">disp_path = #{dispPath},</if>
            <if test="propKey != null">prop_key = #{propKey},</if>
            <if test="propValue != null">prop_value = #{propValue},</if>
            <if test="propLabel != null">prop_label = #{propLabel},</if>
            <if test="propTypeCd != null">prop_type_cd = #{propTypeCd},</if>
            <if test="sortOrd != null">sort_ord = #{sortOrd},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="propRemark != null">prop_remark = #{propRemark},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE prop_id = #{propId}
    </update>

</mapper>
