<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyRoleMapper">

    <sql id="syRoleCond">
        <where>
            <if test="siteId != null and siteId != ''">AND r.site_id = #{siteId}</if>
            <if test="pathId != null and pathId != ''">
                AND r.path_id IN (
                    WITH RECURSIVE sub AS (
                        SELECT path_id FROM shopjoy_2604.sy_path WHERE path_id = #{pathId}
                        UNION ALL
                        SELECT p.path_id FROM shopjoy_2604.sy_path p JOIN sub s ON p.parent_path_id = s.path_id
                    ) SELECT path_id FROM sub
                )
            </if>
            <if test="typeCd != null and typeCd != ''">AND r.role_type_cd = #{typeCd}</if>
            <if test="kw != null and kw != ''">
                AND (r.role_nm ILIKE '%' || #{kw} || '%'
                  OR r.role_code ILIKE '%' || #{kw} || '%')
            </if>
            <if test="dateStart != null and dateStart != ''">AND r.reg_date &gt;= #{dateStart}::DATE</if>
            <if test="dateEnd   != null and dateEnd   != ''">AND r.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyRoleDto">
        SELECT  /* base.sy :: SyRole :: selectById */
              r.*
            , ste.site_nm AS site_nm
            , cd_rt.code_label AS role_type_cd_nm
        FROM sy_role r
            LEFT JOIN sy_site ste ON ste.site_id = r.site_id
            LEFT JOIN sy_code cd_rt ON cd_rt.code_grp = 'ROLE_TYPE' AND cd_rt.code_value = r.role_type_cd
        WHERE r.role_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyRoleDto">
        SELECT  /* base.sy :: SyRole :: selectList */
              r.*
            , ste.site_nm AS site_nm
            , cd_rt.code_label AS role_type_cd_nm
        FROM sy_role r
            LEFT JOIN sy_site ste ON ste.site_id = r.site_id
            LEFT JOIN sy_code cd_rt ON cd_rt.code_grp = 'ROLE_TYPE' AND cd_rt.code_value = r.role_type_cd
            <include refid="syRoleCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY r.role_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY r.role_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY r.role_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY r.role_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY r.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY r.reg_date DESC</when>
            <otherwise>ORDER BY r.reg_date DESC</otherwise>
        </choose>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyRoleDto">
        SELECT  /* base.sy :: SyRole :: selectPageList */
              r.*
            , ste.site_nm AS site_nm
            , cd_rt.code_label AS role_type_cd_nm
        FROM sy_role r
            LEFT JOIN sy_site ste ON ste.site_id = r.site_id
            LEFT JOIN sy_code cd_rt ON cd_rt.code_grp = 'ROLE_TYPE' AND cd_rt.code_value = r.role_type_cd
            <include refid="syRoleCond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY r.role_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY r.role_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY r.role_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY r.role_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY r.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY r.reg_date DESC</when>
            <otherwise>ORDER BY r.reg_date DESC</otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(r.*)  /* base.sy :: SyRole :: selectPageCount */
        FROM sy_role r
            <include refid="syRoleCond"/>
    </select>

    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyRole">
        UPDATE sy_role  /* base.sy :: SyRole :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="roleCode != null">role_code = #{roleCode},</if>
            <if test="roleNm != null">role_nm = #{roleNm},</if>
            <if test="parentRoleId != null">parent_role_id = #{parentRoleId},</if>
            <if test="roleTypeCd != null">role_type_cd = #{roleTypeCd},</if>
            <if test="sortOrd != null">sort_ord = #{sortOrd},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="restrictPerm != null">restrict_perm = #{restrictPerm},</if>
            <if test="roleRemark != null">role_remark = #{roleRemark},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
            <if test="pathId != null">path_id = #{pathId},</if>
        </set>
        WHERE role_id = #{roleId}
    </update>

</mapper>
