<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyTemplateMapper">

    <sql id="syTemplateCond">
        <where>
            <if test="siteId != null and siteId != ''">AND t.site_id = #{siteId}</if>
            <if test="templateId != null and templateId != ''">AND t.template_id = #{templateId}</if>
            <if test="pathId != null and pathId != ''">
                AND t.path_id IN (
                    WITH RECURSIVE sub AS (
                        SELECT path_id FROM shopjoy_2604.sy_path WHERE path_id = #{pathId}
                        UNION ALL
                        SELECT p.path_id FROM shopjoy_2604.sy_path p JOIN sub s ON p.parent_path_id = s.path_id
                    ) SELECT path_id FROM sub
                )
            </if>
            <if test="templateTypeCd != null and templateTypeCd != ''">AND t.template_type_cd = #{templateTypeCd}</if>
            <if test="useYn != null and useYn != ''">AND t.use_yn = #{useYn}</if>
            <if test="searchValue != null and searchValue != ''">
                AND (1=0
                    <if test="searchTypes == null or searchTypes == '' or searchTypes.contains('def_nm')">OR t.template_nm ILIKE '%' || #{searchValue} || '%'</if>
                    <if test="searchTypes == null or searchTypes == '' or searchTypes.contains('def_code')"> OR t.template_code ILIKE '%' || #{searchValue} || '%'</if>
                )
            </if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' and dateType != null and dateType != ''">
                <choose>
                    <when test="dateType == 'reg_date'">
                        AND t.reg_date &gt;= #{dateStart}::DATE
                        AND t.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                    <when test="dateType == 'upd_date'">
                        AND t.upd_date &gt;= #{dateStart}::DATE
                        AND t.upd_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="syTemplateSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY t.template_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY t.template_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY t.template_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY t.template_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY t.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY t.reg_date DESC</when>
            <otherwise>ORDER BY t.reg_date DESC</otherwise>
        </choose>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyTemplateDto$Item">
        SELECT  /* base.sy :: SyTemplate :: selectById */
              t.*
            , ste.site_nm AS site_nm
            , cd_tt.code_label AS template_type_cd_nm
        FROM sy_template t
            LEFT JOIN sy_site ste ON ste.site_id = t.site_id
            LEFT JOIN sy_code cd_tt ON cd_tt.code_grp = 'TEMPLATE_TYPE' AND cd_tt.code_value = t.template_type_cd
        WHERE t.template_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyTemplateDto$Item">
        SELECT  /* base.sy :: SyTemplate :: selectList */
              t.*
            , ste.site_nm AS site_nm
            , cd_tt.code_label AS template_type_cd_nm
        FROM sy_template t
            LEFT JOIN sy_site ste ON ste.site_id = t.site_id
            LEFT JOIN sy_code cd_tt ON cd_tt.code_grp = 'TEMPLATE_TYPE' AND cd_tt.code_value = t.template_type_cd
            <include refid="syTemplateCond"/>
        <include refid="syTemplateSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyTemplateDto$Item">
        SELECT  /* base.sy :: SyTemplate :: selectPageList */
              t.*
            , ste.site_nm AS site_nm
            , cd_tt.code_label AS template_type_cd_nm
        FROM sy_template t
            LEFT JOIN sy_site ste ON ste.site_id = t.site_id
            LEFT JOIN sy_code cd_tt ON cd_tt.code_grp = 'TEMPLATE_TYPE' AND cd_tt.code_value = t.template_type_cd
            <include refid="syTemplateCond"/>
        <include refid="syTemplateSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(t.*)  /* base.sy :: SyTemplate :: selectPageCount */
        FROM sy_template t
            <include refid="syTemplateCond"/>
    </select>

    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyTemplate">
        UPDATE sy_template  /* base.sy :: SyTemplate :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="templateTypeCd != null">template_type_cd = #{templateTypeCd},</if>
            <if test="templateCode != null">template_code = #{templateCode},</if>
            <if test="templateNm != null">template_nm = #{templateNm},</if>
            <if test="templateSubject != null">template_subject = #{templateSubject},</if>
            <if test="templateContent != null">template_content = #{templateContent},</if>
            <if test="sampleParams != null">sample_params = #{sampleParams},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
            <if test="pathId != null">path_id = #{pathId},</if>
        </set>
        WHERE template_id = #{templateId}
    </update>

</mapper>

