<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.SyVocMapper">

    <sql id="syVocCond">
        <where>
            <if test="siteId != null and siteId != ''">AND v.site_id = #{siteId}</if>
            <if test="vocId != null and vocId != ''">AND v.voc_id = #{vocId}</if>
            <if test="kw != null and kw != ''">
                AND (v.voc_nm ILIKE '%' || #{kw} || '%')
            </if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
                AND v.reg_date &gt;= #{dateStart}::DATE
                AND v.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="syVocSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY v.voc_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY v.voc_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY v.voc_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY v.voc_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY v.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY v.reg_date DESC</when>
            <otherwise>ORDER BY v.reg_date DESC</otherwise>
        </choose>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyVocDto">
        SELECT  /* base.sy :: SyVoc :: selectById */
              v.*
            , ste.site_nm AS site_nm
            , cd_vm.code_label AS voc_master_cd_nm
            , cd_vd.code_label AS voc_detail_cd_nm
        FROM sy_voc v
            LEFT JOIN sy_site ste ON ste.site_id = v.site_id
            LEFT JOIN sy_code cd_vm ON cd_vm.code_grp = 'VOC_MASTER' AND cd_vm.code_value = v.voc_master_cd
            LEFT JOIN sy_code cd_vd ON cd_vd.code_grp = 'VOC_DETAIL' AND cd_vd.code_value = v.voc_detail_cd
        WHERE v.voc_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyVocDto">
        SELECT  /* base.sy :: SyVoc :: selectList */
              v.*
            , ste.site_nm AS site_nm
            , cd_vm.code_label AS voc_master_cd_nm
            , cd_vd.code_label AS voc_detail_cd_nm
        FROM sy_voc v
            LEFT JOIN sy_site ste ON ste.site_id = v.site_id
            LEFT JOIN sy_code cd_vm ON cd_vm.code_grp = 'VOC_MASTER' AND cd_vm.code_value = v.voc_master_cd
            LEFT JOIN sy_code cd_vd ON cd_vd.code_grp = 'VOC_DETAIL' AND cd_vd.code_value = v.voc_detail_cd
            <include refid="syVocCond"/>
        <include refid="syVocSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.SyVocDto">
        SELECT  /* base.sy :: SyVoc :: selectPageList */
              v.*
            , ste.site_nm AS site_nm
            , cd_vm.code_label AS voc_master_cd_nm
            , cd_vd.code_label AS voc_detail_cd_nm
        FROM sy_voc v
            LEFT JOIN sy_site ste ON ste.site_id = v.site_id
            LEFT JOIN sy_code cd_vm ON cd_vm.code_grp = 'VOC_MASTER' AND cd_vm.code_value = v.voc_master_cd
            LEFT JOIN sy_code cd_vd ON cd_vd.code_grp = 'VOC_DETAIL' AND cd_vd.code_value = v.voc_detail_cd
            <include refid="syVocCond"/>
        <include refid="syVocSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(v.*)  /* base.sy :: SyVoc :: selectPageCount */
        FROM sy_voc v
            <include refid="syVocCond"/>
    </select>

    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.SyVoc">
        UPDATE sy_voc  /* base.sy :: SyVoc :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="vocMasterCd != null">voc_master_cd = #{vocMasterCd},</if>
            <if test="vocDetailCd != null">voc_detail_cd = #{vocDetailCd},</if>
            <if test="vocNm != null">voc_nm = #{vocNm},</if>
            <if test="vocContent != null">voc_content = #{vocContent},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE voc_id = #{vocId}
    </update>

</mapper>
