<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.sy.mapper.ZzSample2Mapper">

    <sql id="zzSample2Cond">
        <where>
            <if test="sample2Id != null and sample2Id != ''">AND s.sample2_id = #{sample2Id}</if>
            <if test="itemName != null and itemName != ''">AND s.item_name ILIKE '%' || #{itemName} || '%'</if>
            <if test="itemCode != null and itemCode != ''">AND s.item_code = #{itemCode}</if>
            <if test="isActive != null">AND s.is_active = #{isActive}</if>
            <if test="regDateStart != null and regDateStart != ''">AND s.reg_date >= #{regDateStart}::DATE</if>
            <if test="regDateEnd != null and regDateEnd != ''">AND s.reg_date &lt; (#{regDateEnd}::DATE + INTERVAL '1 day')</if>
        </where>
    </sql>

    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.ZzSample2Dto$Item">
        SELECT  /* base.sy :: ZzSample2 :: selectById */
              s.*
        FROM shopjoy_2604.zz_sample2 s
        WHERE s.sample2_id = #{id}
    </select>

    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.ZzSample2Dto$Item">
        SELECT  /* base.sy :: ZzSample2 :: selectList */
              s.*
        FROM shopjoy_2604.zz_sample2 s
            <include refid="zzSample2Cond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY s.sample2_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY s.sample2_id DESC</when>
            <when test="sort == 'item_asc'">ORDER BY s.item_name ASC</when>
            <when test="sort == 'item_desc'">ORDER BY s.item_name DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY s.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY s.reg_date DESC</when>
            <otherwise>ORDER BY s.reg_date DESC</otherwise>
        </choose>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.sy.data.dto.ZzSample2Dto$Item">
        SELECT  /* base.sy :: ZzSample2 :: selectPageList */
              s.*
        FROM shopjoy_2604.zz_sample2 s
            <include refid="zzSample2Cond"/>
        <choose>
            <when test="sort == 'id_asc'">ORDER BY s.sample2_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY s.sample2_id DESC</when>
            <when test="sort == 'item_asc'">ORDER BY s.item_name ASC</when>
            <when test="sort == 'item_desc'">ORDER BY s.item_name DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY s.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY s.reg_date DESC</when>
            <otherwise>ORDER BY s.reg_date DESC</otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectPageCount" resultType="long">
        SELECT COUNT(s.*)  /* base.sy :: ZzSample2 :: selectPageCount */
        FROM shopjoy_2604.zz_sample2 s
            <include refid="zzSample2Cond"/>
    </select>

    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.sy.data.entity.ZzSample2">
        UPDATE shopjoy_2604.zz_sample2  /* base.sy :: ZzSample2 :: updateSelective */
        <set>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="itemCode != null">item_code = #{itemCode},</if>
            <if test="price != null">price = #{price},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isActive != null">is_active = #{isActive},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE sample2_id = #{sample2Id}
    </update>

</mapper>
