<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.dp.mapper.DpUiAreaMapper">

    <!-- 전시 UI-영역 매핑 조회 조건 -->
    <sql id="dpUiAreaCond">
        <where>
                        <if test="uiAreaId != null and uiAreaId != ''">AND a.ui_area_id = #{uiAreaId}</if>
<if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != ''">
    AND a.reg_date &gt;= #{dateStart}::DATE</if>
            <if test="areaId != null and areaId != ''">AND a.area_id = #{areaId}</if>
            <if test="uiId != null and uiId != ''">AND a.ui_id = #{uiId}
    AND a.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
</if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="dpUiAreaSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY a.ui_area_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY a.ui_area_id DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY a.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY a.reg_date DESC</when>
            <otherwise>ORDER BY a.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 전시 UI-영역 매핑 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.dp.data.dto.DpUiAreaDto">
        SELECT  /* base.ec.dp :: DpUiArea :: selectById */
              a.*
            , ui.ui_nm AS ui_nm
            , are.area_nm AS area_nm
        FROM dp_ui_area a
            LEFT JOIN dp_ui ui ON ui.ui_id = a.ui_id
            LEFT JOIN dp_area are ON are.area_id = a.area_id
        WHERE a.ui_area_id = #{id}
    </select>

    <!-- 전시 UI-영역 매핑 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.dp.data.dto.DpUiAreaDto">
        SELECT  /* base.ec.dp :: DpUiArea :: selectList */
              a.*
            , ui.ui_nm AS ui_nm
            , are.area_nm AS area_nm
        FROM dp_ui_area a
            LEFT JOIN dp_ui ui ON ui.ui_id = a.ui_id
            LEFT JOIN dp_area are ON are.area_id = a.area_id
            <include refid="dpUiAreaCond"/>
        <include refid="dpUiAreaSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 전시 UI-영역 매핑 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.dp.data.dto.DpUiAreaDto">
        SELECT  /* base.ec.dp :: DpUiArea :: selectPageList */
              a.*
            , ui.ui_nm AS ui_nm
            , are.area_nm AS area_nm
        FROM dp_ui_area a
            LEFT JOIN dp_ui ui ON ui.ui_id = a.ui_id
            LEFT JOIN dp_area are ON are.area_id = a.area_id
            <include refid="dpUiAreaCond"/>
        <include refid="dpUiAreaSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 전시 UI-영역 매핑 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(a.*)  /* base.ec.dp :: DpUiArea :: selectPageCount */
        FROM dp_ui_area a
            <include refid="dpUiAreaCond"/>
    </select>

    <!-- 전시 UI-영역 매핑 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.dp.data.entity.DpUiArea">
        UPDATE dp_ui_area  /* base.ec.dp :: DpUiArea :: updateSelective */
        <set>
            <if test="uiId != null">ui_id = #{uiId},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="areaSortOrd != null">area_sort_ord = #{areaSortOrd},</if>
            <if test="visibilityTargets != null">visibility_targets = #{visibilityTargets},</if>
            <if test="dispEnv != null">disp_env = #{dispEnv},</if>
            <if test="dispYn != null">disp_yn = #{dispYn},</if>
            <if test="dispStartDate != null">disp_start_date = #{dispStartDate},</if>
            <if test="dispStartTime != null">disp_start_time = #{dispStartTime},</if>
            <if test="dispEndDate != null">disp_end_date = #{dispEndDate},</if>
            <if test="dispEndTime != null">disp_end_time = #{dispEndTime},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE ui_area_id = #{uiAreaId}
    </update>

</mapper>
