<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.dp.mapper.DpUiMapper">

    <!-- 전시 UI 조회 조건 -->
    <sql id="dpUiCond">
        <where>
            <if test="siteId != null and siteId != ''">AND u.site_id = #{siteId}</if>
            <if test="uiId != null and uiId != ''">AND u.ui_id = #{uiId}</if>
            <if test="pathId != null and pathId != ''">
                AND u.path_id IN (
                    WITH RECURSIVE sub AS (
                        SELECT path_id FROM shopjoy_2604.sy_path WHERE path_id = #{pathId}
                        UNION ALL
                        SELECT p.path_id FROM shopjoy_2604.sy_path p JOIN sub s ON p.parent_path_id = s.path_id
                    ) SELECT path_id FROM sub
                )
            </if>
            <if test="deviceTypeCd != null and deviceTypeCd != ''">AND u.device_type_cd = #{deviceTypeCd}</if>
            <if test="searchValue != null and searchValue != ''">
                AND (1=0
                    <if test="searchTypes == null or searchTypes == '' or searchTypes.contains('def_ui_nm')">OR u.ui_nm ILIKE '%' || #{searchValue} || '%'</if>
                    <if test="searchTypes == null or searchTypes == '' or searchTypes.contains('def_ui_cd')">OR u.ui_cd ILIKE '%' || #{searchValue} || '%'</if>
                )
            </if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' and dateType != null and dateType != ''">
                <choose>
                    <when test="dateType == 'reg_date'">
                        AND u.reg_date &gt;= #{dateStart}::DATE
                        AND u.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                    <when test="dateType == 'upd_date'">
                        AND u.upd_date &gt;= #{dateStart}::DATE
                        AND u.upd_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="dpUiSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY u.ui_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY u.ui_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY u.ui_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY u.ui_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY u.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY u.reg_date DESC</when>
            <otherwise>ORDER BY u.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 전시 UI 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.dp.data.dto.DpUiDto$Item">
        SELECT  /* base.ec.dp :: DpUi :: selectById */
              u.*
            , ste.site_nm AS site_nm
        FROM dp_ui u
            LEFT JOIN sy_site ste ON ste.site_id = u.site_id
        WHERE u.ui_id = #{id}
    </select>

    <!-- 전시 UI 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.dp.data.dto.DpUiDto$Item">
        SELECT  /* base.ec.dp :: DpUi :: selectList */
              u.*
            , ste.site_nm AS site_nm
        FROM dp_ui u
            LEFT JOIN sy_site ste ON ste.site_id = u.site_id
            <include refid="dpUiCond"/>
        <include refid="dpUiSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 전시 UI 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.dp.data.dto.DpUiDto$Item">
        SELECT  /* base.ec.dp :: DpUi :: selectPageList */
              u.*
            , ste.site_nm AS site_nm
        FROM dp_ui u
            LEFT JOIN sy_site ste ON ste.site_id = u.site_id
            <include refid="dpUiCond"/>
        <include refid="dpUiSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 전시 UI 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(u.*)  /* base.ec.dp :: DpUi :: selectPageCount */
        FROM dp_ui u
            <include refid="dpUiCond"/>
    </select>

    <!-- 전시 UI 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.dp.data.entity.DpUi">
        UPDATE dp_ui  /* base.ec.dp :: DpUi :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="uiCd != null">ui_cd = #{uiCd},</if>
            <if test="uiNm != null">ui_nm = #{uiNm},</if>
            <if test="uiDesc != null">ui_desc = #{uiDesc},</if>
            <if test="deviceTypeCd != null">device_type_cd = #{deviceTypeCd},</if>
            <if test="pathId != null">path_id = #{pathId},</if>
            <if test="sortOrd != null">sort_ord = #{sortOrd},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="useStartDate != null">use_start_date = #{useStartDate},</if>
            <if test="useEndDate != null">use_end_date = #{useEndDate},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE ui_id = #{uiId}
    </update>

</mapper>
