<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopjoy.ecadminapi.base.ec.dp.mapper.DpWidgetLibMapper">

    <!-- 전시 위젯 라이브러리 조회 조건 -->
    <sql id="dpWidgetLibCond">
        <where>
            <if test="siteId != null and siteId != ''">AND l.site_id = #{siteId}</if>
            <if test="widgetLibId != null and widgetLibId != ''">AND l.widget_lib_id = #{widgetLibId}</if>
            <if test="pathId != null and pathId != ''">
                AND l.path_id IN (
                    WITH RECURSIVE sub AS (
                        SELECT path_id FROM shopjoy_2604.sy_path WHERE path_id = #{pathId}
                        UNION ALL
                        SELECT p.path_id FROM shopjoy_2604.sy_path p JOIN sub s ON p.parent_path_id = s.path_id
                    ) SELECT path_id FROM sub
                )
            </if>
            <if test="widgetTypeCd != null and widgetTypeCd != ''">AND l.widget_type_cd = #{widgetTypeCd}</if>
            <if test="searchValue != null and searchValue != ''">
                AND (1=0
                    <if test="searchTypes == null or searchTypes == '' or searchTypes.contains('def_widget_nm')">OR l.widget_nm ILIKE '%' || #{searchValue} || '%'</if>
                    <if test="searchTypes == null or searchTypes == '' or searchTypes.contains('def_widget_code')">OR l.widget_code ILIKE '%' || #{searchValue} || '%'</if>
                )
            </if>
            <if test="dateStart != null and dateStart != '' and dateEnd != null and dateEnd != '' and dateType != null and dateType != ''">
                <choose>
                    <when test="dateType == 'reg_date'">
                        AND l.reg_date &gt;= #{dateStart}::DATE
                        AND l.reg_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                    <when test="dateType == 'upd_date'">
                        AND l.upd_date &gt;= #{dateStart}::DATE
                        AND l.upd_date &lt;  (#{dateEnd}::DATE + INTERVAL '1 day')
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 정렬 조건 -->
    <sql id="dpWidgetLibSort">
        <choose>
            <when test="sort == 'id_asc'">ORDER BY l.widget_lib_id ASC</when>
            <when test="sort == 'id_desc'">ORDER BY l.widget_lib_id DESC</when>
            <when test="sort == 'nm_asc'">ORDER BY l.widget_nm ASC</when>
            <when test="sort == 'nm_desc'">ORDER BY l.widget_nm DESC</when>
            <when test="sort == 'reg_asc'">ORDER BY l.reg_date ASC</when>
            <when test="sort == 'reg_desc'">ORDER BY l.reg_date DESC</when>
            <otherwise>ORDER BY l.reg_date DESC</otherwise>
        </choose>
    </sql>

    <!-- 전시 위젯 라이브러리 상세 조회 -->
    <select id="selectById" resultType="com.shopjoy.ecadminapi.base.ec.dp.data.dto.DpWidgetLibDto$Item">
        SELECT  /* base.ec.dp :: DpWidgetLib :: selectById */
              l.*
            , ste.site_nm AS site_nm
            , cd_wt.code_label AS widget_type_cd_nm
        FROM dp_widget_lib l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN sy_code cd_wt ON cd_wt.code_grp = 'WIDGET_TYPE' AND cd_wt.code_value = l.widget_type_cd
        WHERE l.widget_lib_id = #{id}
    </select>

    <!-- 전시 위젯 라이브러리 목록 조회 -->
    <select id="selectList" resultType="com.shopjoy.ecadminapi.base.ec.dp.data.dto.DpWidgetLibDto$Item">
        SELECT  /* base.ec.dp :: DpWidgetLib :: selectList */
              l.*
            , ste.site_nm AS site_nm
            , cd_wt.code_label AS widget_type_cd_nm
        FROM dp_widget_lib l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN sy_code cd_wt ON cd_wt.code_grp = 'WIDGET_TYPE' AND cd_wt.code_value = l.widget_type_cd
            <include refid="dpWidgetLibCond"/>
        <include refid="dpWidgetLibSort"/>
        <if test="limit != null and offset != null">LIMIT #{limit} OFFSET #{offset}</if>
    </select>

    <!-- 전시 위젯 라이브러리 페이징 목록 조회 -->
    <select id="selectPageList" resultType="com.shopjoy.ecadminapi.base.ec.dp.data.dto.DpWidgetLibDto$Item">
        SELECT  /* base.ec.dp :: DpWidgetLib :: selectPageList */
              l.*
            , ste.site_nm AS site_nm
            , cd_wt.code_label AS widget_type_cd_nm
        FROM dp_widget_lib l
            LEFT JOIN sy_site ste ON ste.site_id = l.site_id
            LEFT JOIN sy_code cd_wt ON cd_wt.code_grp = 'WIDGET_TYPE' AND cd_wt.code_value = l.widget_type_cd
            <include refid="dpWidgetLibCond"/>
        <include refid="dpWidgetLibSort"/>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 전시 위젯 라이브러리 전체 건수 조회 -->
    <select id="selectPageCount" resultType="long">
        SELECT COUNT(l.*)  /* base.ec.dp :: DpWidgetLib :: selectPageCount */
        FROM dp_widget_lib l
            <include refid="dpWidgetLibCond"/>
    </select>

    <!-- 전시 위젯 라이브러리 선택 필드 수정 -->
    <update id="updateSelective" parameterType="com.shopjoy.ecadminapi.base.ec.dp.data.entity.DpWidgetLib">
        UPDATE dp_widget_lib  /* base.ec.dp :: DpWidgetLib :: updateSelective */
        <set>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="widgetCode != null">widget_code = #{widgetCode},</if>
            <if test="widgetNm != null">widget_nm = #{widgetNm},</if>
            <if test="widgetTypeCd != null">widget_type_cd = #{widgetTypeCd},</if>
            <if test="widgetLibDesc != null">widget_lib_desc = #{widgetLibDesc},</if>
            <if test="pathId != null">path_id = #{pathId},</if>
            <if test="thumbnailUrl != null">thumbnail_url = #{thumbnailUrl},</if>
            <if test="widgetContent != null">widget_content = #{widgetContent},</if>
            <if test="widgetConfigJson != null">widget_config_json = #{widgetConfigJson},</if>
            <if test="isSystem != null">is_system = #{isSystem},</if>
            <if test="sortOrd != null">sort_ord = #{sortOrd},</if>
            <if test="useYn != null">use_yn = #{useYn},</if>
            <if test="updBy != null">upd_by = #{updBy},</if>
            <if test="updDate != null">upd_date = #{updDate},</if>
        </set>
        WHERE widget_lib_id = #{widgetLibId}
    </update>

</mapper>
